.container {
  color: white;

  display: flex;
  flex-direction: column;
  // top: -27px;

  padding-top: 35px;
  transition: padding-top 0.2s ease-in-out;
  @include mobile-only {
    padding-top: 0px;
  }

  .inner {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // padding-top: 61px;
    padding-right: calc-web(58.5px);
    // padding-bottom: 34px;
    padding-left: calc-web(68px);

    @include mobile-only {
      padding-top: 29px;
      padding-bottom: 29px;
      padding-right: 30px;
      padding-left: 27px;
      height: unset;
    }

    > a {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    > a:hover {
      color: unset;
      opacity: 0.8;
    }
  }

  transition: background-color 0.45s ease, color 0.45s ease, top 0.25s ease;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &.float {
    padding-top: 0px;

    background-color: #ffffff;
    color: #7d7d7d;
    .languaueSelecter {
      label {
        color: #e1e0e1;
      }
      input[type="radio"]:checked + label {
        color: #7d7d7d;
      }

      input[type="radio"]:checked + label::before {
        background-color: #7d7d7d;
      }
    }
  }
  &.hide {
    top: -125px;
    // background: transparent;
  }
  &.red {
    background-color: #e53c2b;
    color: #ffffff;

    .inner {
      height: 150px;

      @include mobile-only {
        height: 82.5px;
      }
    }

    padding-top: 0px;
    padding-bottom: 0px;

    .languaueSelecter {
      label {
        color: #7d7d7d;
      }
      input[type="radio"]:checked + label {
        color: #ffffff;
      }

      input[type="radio"]:checked + label::before {
        background-color: #ffffff;
      }
    }

    @include mobile-only {
      .titleContainer {
        position: relative;
        display: flex;
        height: 82.5px;
      }
    }
  }
  &.hide.red {
    top: -150px;

    @include mobile-only {
      top: -165px;
    }
  }
}

.logo {
  width: 180px;
  height: 50px;

  @include mobile-only {
    position: relative;
    top: 4px;
    width: 116px;
    height: 24px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.languaueSelecter {
  display: flex;
  flex-direction: row;
  font-family: Oswald;
  font-weight: 400;

  margin-left: 19px;

  label {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9px;
    color: #7d7d7d;
    cursor: pointer;

    transition: color 0.45s ease;
  }
  label:hover {
    color: #ffffff;
  }

  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 9px;
    margin-top: 2px;
  }

  input[type="radio"]:checked + label {
    color: #ffffff;
  }

  input[type="radio"]:checked + label::before {
    background-color: #ffffff;
    transition: background-color 0.45s ease;
  }
}

.member {
  margin-left: 23px;
  display: flex;
  &:hover {
    color: inherit;
  }
  @include mobile-only {
    margin-left: 14px;
  }
}

.menu {
  margin-left: 34px;
  cursor: pointer;
  @include mobile-only {
    margin-left: 21px;
  }
}

.titleContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  align-items: center;
  /* identical to box height */

  color: #ffffff;
  margin-top: 48px;

  @include mobile-only {
    display: none;
    margin-left: 10px;
    margin-top: 0px;

    &.titleContainerNoPrefix {
      margin-left: 20px;
    }
  }

  > span {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 51px;
    line-height: 105%;

    @include mobile-only {
      font-size: 31px;
    }
  }
  > h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    margin: 0px;
    @include mobile-only {
      font-size: 30px;
      line-height: 44px;
    }
  }

  &::before {
    content: attr(data-prefix);
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 105%;
    /* identical to box height, or 21px */

    color: #ffffff;

    transform: rotate(-90deg) translateY(5px) translateX(-2px);

    @include mobile-only {
      font-size: 13px;
    }
  }
}
