.container {
    width: calc-web-1440(390px);
    cursor: pointer;

    @include mobile-only {
        width: 335px;
    }

    @include pad-portrait {
        width: 28.8%;
        margin: 0 1% 40px;
    }

    .img {
        width: calc-web-1440(390px);
        height: calc-web-1440(218.86px);
        background-color: #c4c4c4;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        transform: translateZ(0);

        @include mobile-only {
            width: 335px;
            height: 187.91px;
        }

        @include pad-portrait {
            width: 27.5vw;
            height: 17.5vw;
        }

        >div {
            background-position: center;
            background-size: cover;

            width: 100%;
            height: 100%;

            transition: transform 0.25s ease;

            @include mobile-only {
                transform: scale(1);
            }

            @include pad-portrait {
                transform: scale(1);
            }
        }
    }

    &.newsBig {
        width: calc-web-1440(390px);

        @include mobile-only {
            width: 335px;
        }

        .img {
            width: calc-web-1440(390px);
            height: calc-web-1440(218.86px);

            @include mobile-only {
                width: 335px;
                height: 187.91px;
            }
        }
    }

    &.newsSmall {
        width: calc-web-1440(290px);

        @include mobile-only {
            width: 335px;
        }

        @include pad-portrait {
            width: 28.8%;
            margin: 0 1% 40px;
        }

        .img {
            width: calc-web-1440(290px);
            // height: calc-web-1440(162.74px);
            height: calc-web-1440(163px);

            @include mobile-only {
                width: 335px;
                height: 187.91px;
            }

            @include pad-portrait {
                width: 27.5vw;
                height: 15.4vw;
            }
        }
    }

    &.reportSmall {
        width: calc-web-1440(390px);

        @include mobile-only {
            width: 335px;
        }

        @include pad-portrait {
            width: 28.8%;
            margin: 1%;
        }

        .img {
            width: calc-web-1440(390px);
            height: calc-web-1440(390px);

            @include mobile-only {
                width: 335px;
                height: 335px;
            }

            @include pad-portrait {
                width: 27.5vw;
                height: 27.5vw;
            }
        }
    }

    &.resources {
        .textContainer {
            @include not-mobile {
                min-height: 70px;
            }

            .title {
                @include mobile-only {
                    margin-bottom: 0px;
                    margin-top: 15px;
                }
            }

            .subTitle {
                font-family: "Noto Sans TC";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height */

                color: #353435;

                margin-top: 4px;

                @include mobile-only {
                    margin-top: 3px;
                }
            }
        }

        .range {
            margin-top: 17px;
            color: #989898;
            font-weight: 400;
        }

        .img {
            background-image: url("/images/card_default.png");
            background-size: cover;
            background-position: center;

            height: calc-web-1440(162.74px);

            @include mobile-only {
                height: 187.91px;
            }

            @include pad-portrait {
                // width: 27.5vw;
                height: 15.5vw;
            }
        }
    }

    &.partner {
        .img {
            aspect-ratio: 340 / 190;
            height: auto;
        }
    }



    &:hover {
        .img {
            >div {
                transform: scale(1.1);
            }
        }
    }

    .range {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.05em;

        color: #000000;
        margin-top: calc-web-1440(25.14px);
        margin-bottom: calc-web-1440(20px);

        @include mobile-only {
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 105%;

            color: #000000;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .status {
            color: #aaa;
            border: 1px solid #aaa;
            padding: 0 5px;
            margin-right: 5px;
            font-size: 13px;
        }

        >.tag {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #e53c2b;
            min-width: 80px;
            padding-left: 10px;
            padding-right: 10px;

            height: 22px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            /* or 31px */

            text-align: center;

            color: #e53c2b;

            border: 1px solid #e53c2b;
            margin-right: 12px;

            margin-top: 8px;
        }
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;

        color: #000000;

        display: -webkit-box;
        // -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include mobile-only {
            margin-top: 22px;
            margin-bottom: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 150%;
        }

        &.clamp2 {
            -webkit-line-clamp: 2;
        }

        &.clamp3 {
            -webkit-line-clamp: 3;
        }
    }
}