.workCardContainer{
//   width: 460px;
  width: calc(25% - 50px);
  @include mobile-only{
    width: 340px;
  }
}
.workCard {

  .workCardImg {
    // width: 460px;
    // height: 258px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    background-color: #ddd;

    // @include mobile-only{
    //   width: 340px;
    //   height: 190px;
    // }
  }

  .workTitleGroup{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 22px;
    >div:first-child{
      flex: 1
    }
    >*:last-child{
      flex-shrink: 0;
    }

    .favoriteIcon{
      width: 20px;
      height: 28px;
    }
  }

  .workCardName {


    .workCardNameEng {
      font-family: "Noto Sans TC";
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      overflow-wrap: break-word;
      word-break: break-word; 
    }
    .workCardNameZh {
      font-family: "Noto Sans TC";
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .workCardWorkform {
    display: flex;
    flex-direction: row;
    
    gap: 10px;

    flex-wrap: wrap;
    margin-bottom: 9px;
    > div {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;

      text-align: center;
      font-family: "Noto Sans TC";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;

      border: 1px solid #e53c2b;
      background: #e53c2b;
    }
  }
  .workCardArtType{
    display: flex;
    flex-direction: row;
    
    gap: 10px;

    flex-wrap: wrap;
    margin-bottom: 10px;

    > div {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      color: #E53C2B;

      text-align: center;
      font-family: "Noto Sans TC";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;

      border: 1px solid #e53c2b;
      background: #ffffff;
    }
  }
}