.container {
    padding-bottom: 10px;
}

.bg {
    width: 100%;
    max-width: 800px;
    height: 60px;

    @include mobile-only {
        height: 27px;
    }

    background-color: #f2f2f2;
    border-radius: 50px;
    display: flex;
    flex-direction: row;

    padding-left: 65px;
    padding-right: 65px;

    @include mobile-only {
        padding-left: 30px;
        padding-right: 30px;
    }

    align-items: center;
    justify-content: space-between;

    position: relative;
    margin-bottom: 40px;
    // .progress {
    //   position: absolute;
    //   background: white;
    //   // left: calc(65px - 10px);
    //   left: 65px;

    //   // border-color: white;
    //   width: 100%;
    //   border-radius: 40px;
    //   border-width: 10px;
    //   border-style: solid;
    //   height: 20px;
    //   box-sizing: content-box;
    // }

    .progressOut {
        position: absolute;
        left: calc(65px - 10px);
        right: calc(65px - 10px);

        @include mobile-only {
            left: calc(30px - 4.5px);
            right: calc(30px - 4.5px);
        }

        height: 40px;

        @include mobile-only {
            height: 18px;
        }

        // background: orange;

        top: 10px;

        @include mobile-only {
            top: 5px;
        }

        .progressInner {
            position: absolute;
            left: 0px;

            $size: 40px;

            // @include mobile-only {
            //   $size: 18px;
            // }

            height: $size;
            background: white;

            border-radius: math.div($size, 2);
            // border-width: 10px;

            transition: width 0.25s ease-in-out;

            &.step1 {
                width: $size;
            }

            &.step2 {
                width: calc($size + calc(calc(100% - $size) * 0.333));
            }

            &.step3 {
                width: calc($size + calc(calc(100% - $size) * 0.666));
            }

            &.step4 {
                width: 100%;
            }
        }

        @include mobile-only {
            .progressInner {
                $size: 18px;

                height: $size;

                border-radius: math.div($size, 2);

                // border-width: 10px;

                &.step1 {
                    width: $size;
                }

                &.step2 {
                    width: calc($size + calc(calc(100% - $size) * 0.333));
                }

                &.step3 {
                    width: calc($size + calc(calc(100% - $size) * 0.666));
                }

                &.step4 {
                    width: 100%;
                }
            }
        }
    }

    .dot {
        width: 20px;
        height: 20px;

        @include mobile-only {
            width: 9px;
            height: 9px;
        }

        background-color: white;
        transition: background-color 0.25s ease-in-out;
        border-radius: 50%;
        position: relative;

        &::after {
            content: attr(data-text);
            position: absolute;
            text-align: center;
            width: 200px;
            left: 10px;
            top: 50px;

            transform: translateX(-50%);
            font-size: 16px;
            line-height: 30px;
            color: #c4c4c4;
            transition: color 0.25s ease-in-out;
            white-space: pre;


            @include mobile-only {
                width: 80px;
                left: 4.5px;
                top: 22px;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
        }

        &.activeStatic {
            &::after {
                color: #e63c2b;
            }
        }

        &.active {
            background-color: #e63c2b;
            position: absolute;
            right: 10px;
            z-index: 2;
            top: 10px;

            @include mobile-only {
                top: 4.5px;
                right: 4.5px;
            }
        }

        &.finish {
            background-color: #f2f2f2;
        }

        // &.step1 {
        //   position: absolute;
        //   left: 65px;
        // }
        // &.step2 {
        //   position: absolute;
        //   left: 248px;
        // }
        // &.step3 {
        //   position: absolute;
        //   left: 433px;
        // }
        // &.step4 {
        //   position: absolute;
        //   left: calc(100% - 85px);
        // }
    }
}