.cursor {
  width: 10px;
  height: 10px;
  // background-color: $main-color;
  border-color: $main-color;
  border-width: 5px;
  border-style: solid;
  border-radius: 170px;
  position: fixed;
  z-index: 999999;
  top: -5px;
  left: -5px;
  pointer-events: none;
  box-sizing: border-box;
  will-change: transform;

  // transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out,
  // left 0.2s ease-in-out, top 0.2s ease-in-out, width 0.2s ease-in-out,
  // height 0.2s ease-in-out, background-color 0.2s linear;

  transition: border-width 0.2s ease-in-out, left 0.2s ease-in-out,
    top 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out,
    background-color 0.2s linear;
}

.hover {
  // background-color: rgba(230, 60, 43, 0);
  border-width: 10px;
  // border-color: $main-color;
  // border-color: rgb(53, 52, 53, 0.5);
  // border-color: #353435;
  // border-color: rgba(230, 60, 43, 0.8);
  // border-color: $main-color;
  // border-color: #3ac2d0;
  // border-color: #0db6c7;

  // z-index: 9999;
  mix-blend-mode: multiply;
  // mix-blend-mode: difference;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
}
.link {
  // background-color: rgba(230, 60, 43, 0);
  border-width: 10px;
  // border-color: $main-color;
  // border-color: rgb(53, 52, 53, 0.5);
  // border-color: #353435;
  // border-color: rgba(230, 60, 43, 0.8);
  // border-color: $main-color;
  // border-color: #3ac2d0;
  // border-color: #0db6c7;

  // z-index: 9999;
  mix-blend-mode: multiply;
  // mix-blend-mode: difference;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
}
.video {
  background-color: $main-color;
  $size: 170px;
  width: $size;
  height: $size;
  top: calc(calc(math.div($size, 2)) * -1);
  left: calc(calc(math.div($size, 2)) * -1);
  border-radius: $size;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &::after {
    content: "Play Video";
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 210%;
    /* or 52px */

    color: #ffffff;
  }
}

.next {
  background-color: $main-color;
  $size: 170px;
  width: $size;
  height: $size;
  top: calc(calc(math.div($size, 2)) * -1);
  left: calc(calc(math.div($size, 2)) * -1);
  border-radius: $size;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &::after {
    content: "NEXT";
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 210%;
    /* or 52px */

    color: #ffffff;
  }
}
.fancyButton {
  display: none;

  // border-width: 20px;

  // // mix-blend-mode: multiply;

  // width: 40px;
  // height: 40px;
  // top: -20px;
  // left: -20px;
}
