.videoCover {
  width: calc-web-1440(960px);
  aspect-ratio: calc(960 / 540);
  // background-image: url("/images/videoCover.png");
  // background-color: #c4c4c4;
  background-position: center;
  background-size: cover;

  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 170px;
    border-radius: 170px;
    background-color: #e63c2b;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 210%;
    /* or 52px */

    color: #ffffff;
    display: none;
  }
}
