.searchInput {
  position: relative;
  > svg {
    position: absolute;
    right: 17.5px;
    top: 16px;
  }
  > input {
    border: 2px solid #353435;
    background-color: transparent;
  }
}

.searchInputA {
  position: relative;
  > svg {
    position: absolute;
    right: 17.5px;
    top: 16px;
    cursor: pointer;
  }

  input {
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }

    &:focus,
    &:active {
      border: 2px solid #ffffff;
      color: #ffffff;
    }
  }

  &.float {
    input {
      border: 2px solid #7d7d7d;
      background-color: transparent;
      color: #7d7d7d;
      &::placeholder {
        color: #7d7d7d;
      }

      &:focus,
      &:active {
        border: 2px solid #7d7d7d;
        color: #7d7d7d;
      }
    }
  }
}
