.unitCard {
  display: block;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: calc-web-1440(45px) calc-web-1440(32px) calc-web-1440(32px);
  position: relative;
  @include mobile-only {
    padding: 45px 32px 32px;
  }
  .favoriteIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .memberImgContainer {
    text-align: center;
    margin-bottom: calc-web-1440(45px);
    @include mobile-only {
      margin-bottom: 40px;
    }
    > img {
      width: 85%;
      height: auto;
      // width: 250px;
      // height: 250px;
      border-radius: 250px;

      // @include mobile-only {
      //   width: 200px;
      //   height: 200px;
      // }
    }
  }

  .memberRegistration {
    display: flex;
    flex-wrap: wrap;
    font-size: calc-web-1440(15px);
    margin-bottom: calc-web-1440(18px);
    @include mobile-only {
      font-size: 15px;
      margin-bottom: 18px;
    }

    .sphere {
      display: inline-flex;
      flex-direction: row;

      align-items: center;
      min-width: 75px;
      margin-right: 15px;

      font-family: "Noto Sans TC";
      font-style: normal;
      font-weight: 500;
      font-size: calc-web-1440(15px);
      line-height: calc-web-1440(22px);
      text-align: justify;

      border: 0 !important;
      padding: 0;
      margin-right: 5px;
      @include mobile-only {
        font-size: 15px;
      }

      > dot {
        width: 17px;
        height: 17px;
        border-radius: 8.5px;
        background-color: red;
        display: inline-block;
        margin-right: 7px;
      }
    }

    .sphere + .sphere {
      margin-top: 5px;
    }
  }
  .memberName {
    > span:nth-child(-n+3) {
      font-family: Oswald;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      margin-right: 7px;
    }
    > span:last-child {
      margin-left: 7px;
      font-family: "Noto Sans TC";
      font-size: calc-web-1440(20px);
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 125% */
      @include mobile-only {
        font-size: 20px;
      }
    }
  }
}
