.workCard {
  display: block;
  //width: 460px;

  // @include mobile-only {
  //   width: 340px;
  // }

  .workCardImg {
    width: 100%;
    height: auto;
    // width: 460px;
    // height: 258px;
    object-fit: cover;
    border-radius: 10px;

    // @include mobile-only {
    //   width: 340px;
    //   height: 190px;
    // }
  }

  .workCardContainer {
    display: flex;
    justify-content: space-between;
    margin-top: calc-web-1440(30px);
    margin-bottom: calc-web-1440(22px);
    @include mobile-only {
      margin-top: 30px;
      margin-bottom: 22px;
    }
    .workCardName {
      word-break: break-all;
      width: calc(100% - 28px);
      .workCardNameEng {
        font-family: "Noto Sans TC";
        font-size: calc-web-1440(15px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        overflow-wrap: break-word;
        word-break: break-word; 
        
        @include mobile-only {
          font-size: 15px;
        }
      }
      .workCardNameZh {
        font-family: "Noto Sans TC";
        font-size: calc-web-1440(17px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include mobile-only {
          font-size: 17px;
        }
      }

      svg {
        margin-left: 8px;
      }
    }
  }
  .tagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    margin-bottom: 10px;
    .tag {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;

      text-align: center;
      font-family: "Noto Sans TC";
      font-size: calc-web-1440(15px);
      font-style: normal;
      font-weight: 500;

      border: 1px solid #e53c2b;
      background: #e53c2b;
      @include mobile-only {
        font-size: 15px;
      }

      &.workformTag {
        background: white;
        color: #e53c2b;
      }

      &.gclassTag {
        background: #e53c2b;
        color: white;
      }
    }
  }
}
