.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  color: #000000;

  padding: 25px 42px 25px 34px;
  background: #f2f2f2;
  border-radius: 10px;

  @include mobile-only {
    justify-content: center;
  }
  > button {
    font-size: 24px;
    @include mobile-only {
      font-size: 15px;

      height: 40px;
      // width: 160px;
    }
  }
  > div {
    @include mobile-only {
      display: none;
    }
  }
}
