.outer {
    display: flex;
    flex-direction: column;
    width: calc-web(908px);

    @include mobile-only {
        width: 335px;
    }

    // width: calc-web(908px);
    // @include mobile-only {
    //   width: 335px;
    // }
}

.container {
    width: calc-web(908px);
    height: calc-web(510px);
    background-color: #c4c4c4;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);

    @include mobile-only {
        width: 335px;
        height: 187px;
        border-radius: 10px;
    }

    .bg {
        background-position: center;
        background-size: cover;
        position: relative;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transition: transform 0.25s ease;

        @include mobile-only {
            transform: scale(1);
        }

        @include pad-portrait {
            transform: scale(1);
        }
    }

    &:hover {
        .bg {
            transform: scale(1.1);
        }
    }

    .content {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        // overflow: hidden;
        // opacity: 0;
        // transition: opacity 0.25s ease;

        >button {
            z-index: 1;
            opacity: 0;
            transition: opacity 0.25s ease;
        }

        .maskContainer {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            overflow: hidden;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            .mask {
                opacity: 0;
                transform: translateY(50%);
                transition: opacity 0.25s ease, transform 0.25s ease;

                position: absolute;
                left: 0%;
                right: 0%;
                top: 40%;
                bottom: 0%;

                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: calc-web(37px);
                padding-right: calc-web(37px);
                padding-bottom: calc-web(30px);
            }
        }

        &:hover {
            >button {
                opacity: 1;
            }

            .maskContainer {
                .mask {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: calc-web(30px);
    // line-height: 210%;
    color: #ffffff;

    display: -webkit-box;
    // -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mobile-only {
        margin-top: 22px;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 150%;
        color: #000000;
    }

    &.clamp2 {
        -webkit-line-clamp: 2;
    }

    &.clamp3 {
        -webkit-line-clamp: 3;
    }
}

.subTitle {
    font-style: normal;
    font-weight: normal;
    font-size: calc-web(30px);
    // line-height: 210%;
    color: #ffffff;

    @include mobile-only {
        font-weight: bold;
        font-size: 13px;
        line-height: 105%;
        color: #000000;
    }

    &::before {
        content: attr(data-year);
        font-size: calc-web(17px);
        vertical-align: super;
        margin-right: calc-web(6px);

        @include mobile-only {
            font-weight: bold;
            font-size: 13px;
            line-height: 105%;
            color: #000000;
            vertical-align: initial;
            margin-right: 6px;
        }
    }

    &[data-year=""] {
        &::before {
            display: none;
        }
    }
}

.outer.square {
    @include mobile-only {
        width: 147px;
    }

    width: calc-web(540px);

    .container {
        width: calc-web(540px);
        height: calc-web(540px);

        @include mobile-only {
            width: 147px;
            height: 147px;
        }
    }
}