.ctaContainer {
  .content {
    padding-top: calc-web(120px);
    padding-bottom: calc-web(120px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @include mobile-only {
      width: calc(100vw - 40px);
      flex-direction: column;
      gap: 80px;
    }

    .desc {
      @include mobile-only {
        width: 100%;
      }
      color: white;
      .desc1 {
        font-size: calc-web(24px);
        line-height: calc-web(33px);
        font-weight: 700;
        max-width: 612px;
        @include mobile-only {
          font-size: 17px;
          line-height: 33px;
          max-width: none;
        }
        a {
            color: #FFF;
            border-bottom: 2px #fff solid;
        }
      }
      .desc2 {
        font-size: calc-web(55px);
        line-height: calc-web(79.64px);
        font-weight: 700;
        @include mobile-only {
          font-size: 35px;
          line-height: 50.68px;
        }
        a {
            color: #FFF;
            border-bottom: 2px #fff solid;
        }
      }
    }

    .btn {
      button {
        border-color: white;
        color: white;
        width: calc-web(430px);
        font-size: 24px;
        @include mobile-only {
          width: 250px;
          font-size: 18px;
        }
      }
    }
  }
}
