.container {}

.bg {
    background: #f2f2f2;

    padding: 58px 0px;

    >svg {
        margin: 0px auto;
    }
}

.wraper {
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #353435;

    // height: calc-web-1440(140px);
    height: 140px;
    justify-content: center;

    >div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .button {
        margin-top: 12px;
        padding: 0px;

        @include mobile-only {
            margin-top: 6px;
        }
    }

    .buttonInner {
        height: 48px;
        padding-top: 9px;
        padding-bottom: 10px;
        font-size: 24px;
        width: 360px;
        position: relative;

        @include mobile-only {
            width: 335px;
            padding-top: 11px;
            padding-bottom: 9px;
        }

        >svg {
            position: absolute;
            pointer-events: none;

            right: 3px;
            top: 3px;
        }
    }
}