.container {
}
.input {
  width: 250px;
  height: 50px;
  border: 2px solid #353435;
  box-sizing: border-box;
  border-radius: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  line-height: 105%;
  cursor: pointer;

  /* or 25px */

  text-align: center;

  color: #353435;

  > div {
    cursor: pointer;
  }
  .icon {
    position: absolute;
    right: 22px;
  }

  &.active {
    font-family: Oswald;
    font-size: 18px;
    line-height: 105%;
    /* identical to box height, or 19px */

    text-align: center;

    color: #e53c2b;

    padding-right: 30px;
  }

  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  &:hover {
    border-color: #e53c2b;
    color: #e53c2b;
    .x {
      color: #e53c2b;
      border-color: #e53c2b;
    }

    .icon {
    }
  }

  .x {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #353435;
    font-family: "Noto Sans TC";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #353435;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    padding-bottom: 2px;
  }
}
.confirm {
  height: 50px;
  padding-top: 10px;
  width: 250px;
  margin: 20px 0px 20px 77px;
  font-size: 24px;
}
