.noticeContainer {
  margin: -24px;
  padding: calc-web-1440(70px);
  // @include not-mobile {
  //   padding: 100px 185px 70px;
  // }

  .noticeTitle {
    font-size: calc-web-1440(50px);
    line-height: calc-web-1440(70px);
    text-align: center;
    font-weight: bold;
    margin-bottom: 45px;

    @include mobile-only {
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .noticeDesc {
    font-size: 30px;
    text-align: center;
    margin-bottom: calc-web-1440(55px);
    @include mobile-only {
      text-align: left;
      font-size: 20px;
    }
  }

  .checkboxGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;

    @include mobile-only {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 25px;
    }
  }
  .buttonGroup {
    display: flex;
    align-items: center;
    @include mobile-only {
      display: block;
    }
    .submit {
      width: 430px;
      font-size: 15px;
      line-height: 22px;
      margin: 0 auto;
    
      @include mobile-only {
        width: 100%;
      }
    
      color: #353435;
      > button {
        margin-top: 12px;
        width: 100%;
      }
    }
  
    .submit + .submit {
      margin-left: 10px;
      @include mobile-only {
        margin-left: 0;
      }
    }
  }
}


