
  .filterContnet {
    input[type="checkbox"] {
      opacity: 0;
      width: 0px;
    }
    label {
      position: relative;
      padding-left: 36px;
      line-height: 40px;
      cursor: pointer;
    }
    label::before {
      content: "";
      position: absolute;
      left: 0px;
      top: -1px;
      width: 25px;
      height: 25px;
      border: 2px solid #f2f2f2;
      border-radius: 8px;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + label::before {
      background-color: #e63c2b;
      border: 2px solid #ff0000;
    }

    span {
      margin-left: 5px;
      color: #e63c2b;
    }

    .filterContnet {
      margin-left: 40px;
    }
  }

