.selectionsCard {
  display: block;
  margin-bottom: -65px;
  width: 100%;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .content {
    border-radius: 10px;
    padding: calc-web-1440(20px) calc-web-1440(25px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 10%);
    background-color: white;
    position: relative;
    top: -65px;
    width: calc(100% - 32px);
    height: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include mobile-only {
      padding: 12px 12px 20px;
    }
    .tag {
      background-color: #e53c2b;
      color: white;
      width: 110px;
      text-align: center;
      padding: 5px;
      margin: 0 5px 5px 0;
      font-size: calc-web-1440(15px);
      @include mobile-only {
        min-width: 110px;
        font-size: 15px;
      }
    }

    .title {
      font-size: calc-web-1440(20px);
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      @include mobile-only {
        font-size: 20px;
      }
    }
  }
}
