.swiperList {
  .full {
    width: 100%;
    overflow-x: hidden;
    .swiper {
      overflow-x: visible;
      overflow-y: clip;
      width: calc-web-1440(1288px);
    }
  }
  .slide + .slide {
    // margin-left: calc-web-1440(30px);
  }
}

.actionGroup {
  position: relative;
  height: 170px;
  &.actionFull {
    @include mobile-only {
      display: none;
    }
  }
  @include mobile-only {
    height: 100px;
    margin-bottom: 20px;
  }
  .prev,
  .next {
    background-color: white;
    width: 70px;
    height: 70px;
    z-index: 11;
    &::after {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .pagination {
    bottom: 50%;
    transform: translateY(100%);
    @include mobile-only {
      display: none;
    }
    span {
      margin: 0 16px !important;
      width: 12px;
      height: 12px;
    }
  }
}
