.container {
  display: flex;
  align-items: flex-end;
  margin-bottom: calc-web-1440(25px);
  margin-left: auto;
  margin-right: auto;

  @include mobile-only {
    margin-bottom: 38px;
  }

  .step {
    color: #999999;
    text-align: center;
    width: 100%;
    min-height: 110.84px;
    @include mobile-only {
      min-height: 72.42px;
    }
    &.activeStatic {
      color: #e53c2b;
      .progressBg {
        .progress {
          background-color: #e53c2b;
        }
      }
    }
    .title {
      font-size: 20px;
      @include mobile-only {
        font-size: 14px;
      }
    }

    .progressBg {
      height: 8px;
      border-radius: 5px;
      margin: 25px 0 15px;
      background-color: #eaeaea;
      overflow: hidden;
      @include mobile-only {
        margin: 15px 0 10px;
        height: 5px;
      }
      .progress {
        background-color: #999999;
        display: block;
        width: 0;
        height: 100%;
      }
    }
    .amount {
      font-size: 18px;
      @include mobile-only {
        font-size: 13px;
      }
    }
  }
  margin: 0 0 24px;
  .step + .step {
    margin-left: 6px;
    @include mobile-only {
      margin-left: 15px;
    }
  }
}
