.container{
  border-radius: 10px;
  background: #EFEFEF;
  display: flex;
  flex-direction: row;
  position: relative;

  padding: 14px 16px;
  gap: 13px;

  .pic{
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }


  .favoriteIcon{
    width: 15px;
    height: 20px;
    color: #444444;
    position: absolute;
    top: 15px;
    right: 16px;
    cursor: pointer;
  }

  >div{
    display: flex;
    flex-direction: column;
    position: relative;

    >img{
      width: 60px;
      height: 60px;
      object-fit: cover;
    }



    .title{
      color: #444;
      font-family: "Noto Sans TC";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }

    .name{
      color: #222;
      font-family: "Noto Sans TC";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;

      .eng{
        color: #222;
        font-family: Oswald;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
      }
    }
  }
}