
.previewContainer {
  padding: 9px 0;
  position: relative;
  @include mobile-only {
    padding: 30px 0;
  }
  .previewBlock {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    color: white;
    @include mobile-only {
      flex-wrap: wrap;
    }
    .back {
      cursor: pointer;
      @include mobile-only {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .preview {
      font-weight: bold;
      font-size: 30px;
    }
    .action{
      text-align: right;
    }
  }
}
