/* .ck-editor__main * {
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0;
} */

.ck-editor__main p {
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0;
    color: #000;
}

.ck-editor__main a {
    text-decoration: none;
}

.ck-editor__main h1 {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: #000;
}

.ck-editor__main h2 {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: #e53c2b;
}

.ck-editor__main h3 {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
}

.ck-editor__main ul li,
.ck-editor__main ol li {
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #000;
}

.ck-editor__main table {
    width: 100%;
}

.ck-editor__main table th,
.ck-editor__main table td {
    border: 1px #ccc solid;
    width: 100%;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0;
}
