.container {
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #353435;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.25s ease;
  &.open {
    background-color: #f2f2f2;
  }
}

.arrow {
  position: absolute;
  right: 20px;
  top: 20px;
  // transition: transform 0.25s ease;
  &.open {
    transform: rotate(180deg) translateY(2px);
  }
}

.popcontainer{
    min-width: 500px;
    max-height: 520px;
    position: relative;
    overflow-y: scroll;

    @include mobile-only {
        min-width: 300px;
        max-height: 320px;
    }
}


.content {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #353435;

  margin-left: 25px;
  margin-right: calc(25px + 30px);

}
.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0px;
  background: white;
  border-top: 1px solid #ECECEC;
  padding-top: 13px;
  margin-top: 15px;

  >div{
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    
    color: #E63C2B;
    cursor: pointer;
  }
  > button {
    width: 110px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #353435;
    border-radius: 39px;
    cursor: pointer;
  }
}

.doubleGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobile-only {
        grid-template-columns: 1fr;
    }
}