.container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fbfbfb;

  display: flex;
  flex-direction: row;
  gap: 52px;
  // align-items: center;
  justify-content: center;
  padding-top: 90px;
}
.imageContainer {
  // height: 100%;
}

.image {
  width: calc-web-1440(327px);
  height: calc-web-1440(327px);
}

.content {
    width: 100%;
  max-width: calc-web-1440(500px);
}

.titleEng {
  color: #000;

  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 188.889% */

  @include mobile-only {
    font-size: 22px;
  }
}

.titleZh {
  color: #000;
  font-family: Noto Sans TC;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px; /* 136% */

  margin-top: -30px;

  @include mobile-only {
    font-size: 30px;
    margin-top: -45px;
  }
}
.establish {
  color: #989898;

  font-family: Noto Sans TC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;

  display: flex;
  align-items: center;

  flex-wrap: wrap;

  gap: 11px;

  @include mobile-only {
    font-size: 15px;
  }

  &::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 3px;
    background: #989898;
  }
}
.spheres {
  display: flex;
  flex-direction: row;
  gap: 10px;

  flex-wrap: wrap;

  > div {
    width: 110px;
    color: #e53c2b;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid #e53c2b;
  }
}

.intro {
  margin-top: 40px;
  margin-bottom: 40px;

  color: #353435;
  text-align: left;
  font-family: Noto Sans TC;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 186.667% */
  white-space: pre-line;
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.hopeSphere {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  > div {
    min-width: 110px;
    padding: 0px 20px;
    height: 22px;
    background-color: #e53c2b;
    color: #ffffff;
    border: 1px solid #e53c2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.industry {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

  > div {
    min-width: 110px;
    height: 22px;
    // background-color: #E53C2B;
    color: #e53c2b;
    border: 1px solid #e53c2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0px 20px;
  }
}
