.container {
  width: calc-web-1440(390px);
  @include mobile-only {
    width: 335px;
  }

  .img {
    width: calc-web-1440(390px);
    height: calc-web-1440(218.86px);
    background-color: #c4c4c4;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    position: relative;

    @include mobile-only {
      width: 335px;
      height: 187.91px;
    }
  }
  .range {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.05em;

    color: #000000;
    margin-top: calc-web-1440(25.14px);
    margin-bottom: calc-web-1440(20px);
    @include mobile-only {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 105%;

      color: #000000;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;

    color: #000000;

    @include mobile-only {
      margin-top: 22px;
      margin-bottom: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
    }
  }
}
