.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  > div {
    > canvas {
      outline: none;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile-only {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
    }

    .title {
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 120px;
      line-height: 178px;
      /* identical to box height */

      color: #e53c2b;
      position: absolute;

      @include mobile-only {
        font-size: 80px;
        line-height: 120%;
      }
    }
  }

  .zoomControl {
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    left: calc(50% - 150px);
    bottom: 85px;
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > div {
      font-family: Arial, Helvetica, sans-serif;
      color: #e53c2b;
      font-size: 60px;
      padding-right: 30px;
      padding-left: 30px;
      cursor: pointer;
    }
  }
}

.categorys {
  display: flex;
  flex-direction: row;
  margin: 26px auto;
  @include not-mobile {
    gap: 60px;
  }

  @include mobile-only {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    // width: 312px;
    width: 335px;
  }
  &.en {
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;

    @include mobile-only {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 10px;
      // width: 312px;
      width: 335px;
    }

    @include not-mobile {
      gap: 45px;
      .category {
        font-size: 20px;
        line-height: 36px;
      }
    }
  }

  .category {
    // width: 160px;
    display: flex;

    flex-direction: row;
    align-items: center;

    font-size: 24px;
    line-height: 36px;

    @include mobile-only {
      width: auto;
      font-size: 15px;
      line-height: 150%;
    }
    .dot {
      width: 17px;
      height: 17px;
      border-radius: 17px;
      margin-right: 11px;
      flex-shrink: 0;

      @include mobile-only {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-right: 10px;
      }
    }
  }
}
.buttons {
  padding-left: 50px;
  padding-right: 50px;
  button {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.droupdown {
  width: 335px;
  height: 50px;
  border-radius: 50px;
  margin-top: 29px;
}
.professionalsCard {
  position: absolute;
  top: 120px;
  left: calc(50% - 245px);
  width: 490px;
  z-index: 3;

  @include mobile-only {
    width: 350px;
    top: 140px;
    left: calc(50% - 175px);
    position: fixed;
  }
}
