.zoom {
  width: calc-web-1440(50px);
  height: calc-web-1440(175px);
  position: absolute;
  bottom: calc-web-1440(32px);
  right: calc-web-1440(26px);
  background-color: white;
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mobile-only {
    bottom: 44px;
    height: 50px;
    width: 168px;
    left: calc(50% - 84px);
    border-radius: 25px;
  }
  > div {
    padding: 0px calc-web-1440(40px);
    cursor: pointer;
    user-select: none;
    font-size: calc-web-1440(50px);
    color: #e53c2b;

    @include mobile-only {
      font-size: 30px;
      padding: 0px 30px;
    }
  }
}
