.container {
  position: absolute;
  top: calc-web(83px);
  left: calc-web(316px);
  @include fix-desktop-margin("left");
  right: calc-web(316px);
  @include fix-desktop-margin("right");
  bottom: calc-web(56px);
  // background-color: red;
  color: #353435;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile-only {
    top: 28px;
    left: 20px;
    right: 20px;
    bottom: 32px;
  }

  .top {
    .nav {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;

      > span {
        color: #e53c2b;
      }

      @include mobile-only {
        font-size: 15px;
        line-height: 22px;
      }
    }
    > h3 {
      font-style: normal;
      font-weight: normal;
      font-size: calc-web(50px);
      line-height: calc-web(74px);
      margin-top: 4px;
      margin-bottom: 0px;

      @include mobile-only {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 19px;
        margin-top: 14px;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    @include mobile-only {
      flex-direction: column;
    }
    > div {
      flex: 1;
      font-size: 15px;
      line-height: 22px;

      color: #353435;
    }
    .back {
      cursor: pointer;
      @include not-mobile {
        margin-bottom: 22px;
      }
      @include mobile-only {
        margin-top: 14px;
      }
    }
  }
}
.info {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  color: #353435;

  > p {
    margin-left: 37px;
    margin-bottom: 0px;
    @include mobile-only {
      margin-left: 0px;
    }
  }

  @include mobile-only {
    margin-left: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 210%;
  }

  @include not-mobile {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
  }
}
.simpleContainer {
  position: absolute;
  left: calc-web(316px);
  @include fix-desktop-margin("left");
  right: calc-web(316px);
  @include fix-desktop-margin("right");
  top: 0px;
  bottom: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-only {
    // height: 80px;
    left: 20px;
  }

  .back {
    cursor: pointer;
  }

  .title{
    font-size: 30px;
    font-weight: bold;
  }

  >div:first-child, >div:last-child{
    flex: 1;
  }
  >div:last-child{
    text-align: right;
  }
}
.searchContainer {
  position: absolute;
  left: calc(50vw - 450px);
  right: calc(50vw - 450px);
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
