.comingSoon {
  margin-top: 72px;
  height: calc-web-1440(800px);
  @include mobile-only {
    margin-top: 32px;
    height: 640px;
  }

  .content {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 44px 0;
    text-align: center;
    color: #999999;
    font-weight: bold;
    font-size: 20px;
  }
}
