.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    color: #ffffff;
    > div {
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: calc-web(51px);
      line-height: 105%;
      text-align: center;

      @include mobile-only {
        font-size: 31px;
        line-height: 105%;
      }

      &::after {
        content: ".";
      }

      &::before {
        content: "PART";
        transform: rotate(-90deg) translateY(calc-web(6px))
          translateX(calc-web(11px));
        display: inline-block;

        font-size: calc-web(20px);
        line-height: 105%;
        @include mobile-only {
          font-size: 13px;
          line-height: 105%;
          /* 3w */
          top: -6px;
          position: relative;
        }
      }
    }

    > h1 {
      font-style: normal;
      font-weight: bold;
      font-size: calc-web(110px);
      line-height: calc-web(163px);

      margin: 0px;

      @include mobile-only {
        font-size: 35px;
        line-height: 52px;
      }
    }
  }
}

.contentLight {
  height: 150px;
  background-color: #e63c2b;
  position: relative;
  @include mobile-only {
    height: 165px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 82.5px;
  }

  .titleContainer {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    /* identical to box height */

    color: #ffffff;
    margin-top: 48px;
    &.titleContainerNoPrefix {
      margin-top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      > h3 {
        line-height: 120%;
      }
      height: 100%;
    }

    @include mobile-only {
      margin-top: 0px;

      position: relative;

      left: auto;
      transform: none;
      display: flex;
      height: 82.5px;
      padding-left: 14px;
      // padding-top: 82.5px;

      &.titleContainerNoPrefix {
        margin-left: 17px;
      }
    }

    > span {
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 51px;
      line-height: 105%;

      @include mobile-only {
        font-size: 31px;
      }
    }
    > h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 67px;
      margin: 0px;
      @include mobile-only {
        font-size: 30px;
        line-height: 44px;
      }
    }

    &::before {
      content: attr(data-prefix);
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 105%;
      /* identical to box height, or 21px */

      color: #ffffff;

      transform: rotate(-90deg) translateY(5px) translateX(-2px);

      @include mobile-only {
        font-size: 13px;
      }
    }
  }
}

.contentNew1 {
  position: relative;
  padding: 30px 0;

  @include mobile-only {
    left: 0;
    padding: 30px 20px;
  }

  &.isDesc {
    padding: 30px 0 55px 0;
    @include mobile-only {
      padding: 30px 20px;
    }

    .title {
      font-size: 70px;
      @include mobile-only {
        font-size: 40px;
        line-height: 50px;
      }
    }

    .desc {
      @include mobile-only {
        margin-top: 20px;
      }
    }

    .navList,
    .back {
      margin-bottom: 55px;
      @include mobile-only {
        margin-bottom: 35px;
      }
    }
  }

  .navList,
  .back {
    color: white;
    margin-bottom: 20px;
    font-size: 15px;

    a {
        color: #fff;
    }
  }

  .back {
    cursor: pointer;
  }
  .title {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 77px;
    max-width: 650px;
  }

  .desc {
    font-size: 18px;
    color: white;
    max-width: 650px;
    // width: 34%;
    margin-top: 25px;
    @include mobile-only {
      font-size: 16px;
      line-height: 30px;
      margin-top: 20px;
    }
  }
  .action {
    position: absolute;
    bottom: 85px;
    right: 0px;
    @include pad-landscape {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 40px;
      }
    
      @include pad-portrait {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px;
      }
      @include mobile-only {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px;
      }
  }
}

html:lang(en) .contentNew1 .title {

}
