.emptyDataBlock {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 58px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #999999;
  @include mobile-only {
    padding: 58px 25px;
  }
  svg {
    margin-right: 10px;
  }
}
