.container {
    padding: calc-web(58px) calc-web(205px);
    background-color: #e1e0e1;

    color: #353435;
    display: flex;
    flex-direction: column;

    @include mobile-only {
        padding: 25px 20px 16px 20px;
    }

    .topArea {
        display: flex;
        flex-direction: row;
        margin-bottom: 53px;

        @include mobile-only {
            flex-direction: column;
            //   margin-bottom: 23px;
            margin-bottom: 0;
        }

        .logo {
            color: #54565a;
            width: 180px;
            height: 50px;
            margin-right: 92px;

            @include mobile-only {
                margin-bottom: 25px;
                // width: 140px;
                // height: 23px;
                width: 180px;
                height: 50px;
            }
        }

        .logo2 {
            width: 176px;
            height: 73px;
            margin-bottom: 13px;
        }
    }

    .middleArea {
        @include not-mobile {
            display: none;
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 39px;

        @include mobile-only {
            order: 2;
            margin-top: 40px;
            margin-bottom: 20px;
        }


        .socialIcon {
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: Oswald;
            font-size: 20px;
            line-height: 30px;
            color: #353435;

            margin-right: 15px;
            margin-left: 15px;
        }
    }

    .bottomArea {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        font-size: 15px;
        line-height: 22px;

        color: #353435;

        @include mobile-only {
            flex-direction: column;
            align-items: flex-start;
            font-size: 13px;
            line-height: 19px;
            opacity: 1;
        }

        .socialIconGroup {
            @include mobile-only {
                display: none;
            }

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: calc-web(16px);

            .socialIcon {
                display: flex;
                flex-direction: column;
                align-items: center;

                font-family: Oswald;
                font-size: 20px;
                line-height: 30px;
                color: #353435;

                &:first-child {
                    margin-right: 50px;
                }
            }
        }
    }
}

.copyright {
    background-color: #353435;
    color: #ffffff;
    padding-left: calc-web(205px);
    padding-right: calc-web(205px);
    height: calc-web(100px);

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    line-height: 21px;

    @include mobile-only {
        height: 210px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 38px;
        align-items: flex-end;
    }

    @include pad-portrait {
        height: 100px;
    }

}