.outer {
    display: flex;
    flex-direction: column;
    width: calc-web(390px);

    @include mobile-only {
        width: 262px;
    }

    cursor: pointer;
}

.container {
    width: calc-web(390px);
    height: calc-web(218px);
    background-color: #c4c4c4;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);

    @include mobile-only {
        width: 262px;
        height: 147.03px;
    }

    .bg {
        background-position: center;
        background-size: cover;
        position: relative;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transition: transform 0.25s ease;

        @include mobile-only {
            transform: scale(1);
        }

        @include pad-portrait {
            transform: scale(1);
        }
    }

    &:hover {
        .bg {
            transform: scale(1.1);
        }
    }

    .content {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;

        &:hover {
            opacity: 1;
        }

        >button {
            z-index: 1;
        }

        .maskContainer {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            overflow: hidden;

            .mask {
                position: absolute;
                left: 0%;
                right: 0%;
                top: 40%;
                bottom: 0%;

                opacity: 0;
                transform: translateY(50%);
                transition: opacity 0.25s ease, transform 0.25s ease;

                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: calc-web(32px);
                padding-right: calc-web(32px);
                padding-bottom: calc-web(17px);
            }
        }

        &:hover {
            .maskContainer {
                .mask {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: calc-web(17px);
    // line-height: 210%;
    color: #ffffff;
    margin-bottom: calc-web(6px);

    display: -webkit-box;
    // -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mobile-only {
        margin-top: 22px;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 150%;
        color: #000000;
    }

    &.clamp2 {
        -webkit-line-clamp: 2;
    }

    &.clamp3 {
        -webkit-line-clamp: 3;
    }
}

.subTitle {
    font-style: normal;
    font-weight: normal;
    font-size: calc-web(15px);
    // line-height: 210%;
    color: #ffffff;
    font-family: Oswald;

    @include mobile-only {
        font-weight: bold;
        font-size: 13px;
        line-height: 105%;
        color: #000000;
    }
}

.tag {
    font-size: calc-web(15px);
    color: #e53c2b;
    border: 1px solid #e53c2b;
    padding: 0px calc-web(18px);
    box-sizing: border-box;
    margin-right: calc-web(12px);

    @include mobile-only {
        padding: 0px 6px;
        font-size: 13px;
        margin-right: 9px;
    }
}