.container {
    height: calc-web(832px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;

    @include mobile-only {
        height: 375px;

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 20px;
            right: 20px;
            bottom: 0px;
            border-left: 1px dashed rgba(230, 60, 43, 0.5);
            border-right: 1px dashed rgba(230, 60, 43, 0.5);
            z-index: -1;
        }
    }

    .image {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        @include mobile-only {
            opacity: 1;
        }

        @include pad-portrait {
            opacity: 1;
        }
    }

    .dash {
        position: absolute;
        top: 0px;
        left: calc(50vw - 10px);
        right: calc(50vw - 10px);
        bottom: 0px;
        border-left: 1px dashed rgba(230, 60, 43, 0.5);
        border-right: 1px dashed rgba(230, 60, 43, 0.5);

        @include not-mobile {
            left: calc(50vw - 29px);
            right: calc(50vw - 29px);
        }

        z-index: -2;
    }

    @include not-mobile {
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: calc-web(434px);
            width: 58px;
            bottom: 0px;
            border-left: 1px dashed rgba(230, 60, 43, 0.5);
            border-right: 1px dashed rgba(230, 60, 43, 0.5);
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: calc-web(434px);
            width: 58px;
            bottom: 0px;
            border-left: 1px dashed rgba(230, 60, 43, 0.5);
            border-right: 1px dashed rgba(230, 60, 43, 0.5);
            z-index: -2;
        }
    }

    .next {
        font-style: normal;
        font-weight: bold;
        font-size: calc-web(95px);
        line-height: 210%;
        margin-top: calc-web(66px);

        @include mobile-only {
            font-size: 35px;
            margin-top: 32px;
            line-height: 105%;
        }

        transition: color 0.25s ease-in-out;
    }

    >a {
        margin-top: calc-web(141px);

        @include mobile-only {
            margin-top: 115px;
        }

        >h2 {
            position: relative;
            font-size: calc-web(110px);

            @include mobile-only {
                font-size: 35px;
                color: white;
            }

            @include pad-portrait {
                color: white;
            }

            transition: color 0.25s ease-in-out;
        }

        >h2::before {
            content: attr(data-prefix);
            font-family: Oswald;
            font-style: normal;
            font-weight: 500;
            font-size: calc-web(51px);
            position: absolute;
            left: calc-web-n(-66px);
            top: calc-web-n(-28px);

            @include mobile-only {
                left: -27px;
                top: -4px;
                font-size: 22px;
            }
        }
    }

    &:hover {
        .next {
            color: white;

        }

        >a {
            h2 {
                color: white;
            }
        }

        .image {
            opacity: 1;
        }
    }

    @include mobile-only {
        color: white;
    }

}