$dotSize: 10px;
$animationSpeed: 3s;

.container {
  display: inline-block;
}
.loader {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: $dotSize * 4;
  height: $dotSize;
  // background-color: red;
  // margin-left: 10px;
  margin-right: $dotSize;
}
.loadingText {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #e53c2b;
}

.dot {
  display: block;
  position: absolute;
  width: $dotSize;
  height: $dotSize;
  border-radius: $dotSize;
  background-color: #e53c2b;
  top: 0;

  &.dot_1 {
    left: $dotSize * 0;
  }

  &.dot_2 {
    left: $dotSize * 2;
  }

  &.dot_3 {
    left: $dotSize * 4;
  }

  &.dot_1_animation {
    left: $dotSize * 0;
    width: auto;
    animation: dot_1_Anim $animationSpeed ease infinite;
    right: $dotSize * 3;
  }
}

@keyframes dot_1_Anim {
  0% {
    left: $dotSize * 0;
    right: $dotSize * 3;
  }
  12.5% {
    left: $dotSize * 0;
    right: $dotSize * 1;
  }
  25% {
    left: $dotSize * 2;
    right: $dotSize * 1;
  }
  37.5% {
    left: $dotSize * 2;
    right: $dotSize * -1;
  }
  50% {
    left: $dotSize * 4;
    right: $dotSize * -1;
  }
  62.5% {
    left: $dotSize * 2;
    right: $dotSize * -1;
  }
  75% {
    left: $dotSize * 2;
    right: $dotSize * 1;
  }
  87.5% {
    left: $dotSize * 0;
    right: $dotSize * 1;
  }
  100% {
    left: $dotSize * 0;
    right: $dotSize * 3;
  }
}
