.submitLightBox {
  .container {
    .title {
      text-align: left;
      margin-bottom: 20px;
    }
    .desc {
      margin-bottom: 0;
    }
    .content {
      font-size: 18px;
      text-align: left;
      margin-bottom: calc-web-1440(55px);
      .desc1 {
        margin-bottom: 15px;
      }
      .desc2 {
        margin-left: 10px;
      }
      a {
        text-decoration: underline;
      }
    }

    .error {
      color: red;
      font-size: 18px;
      text-align: right;
    }

    .button1 {
      button {
        color: #999999;
        border-color: #999999;
        &:hover {
          color: white;
        }
      }
    }
  }
}
