.sectionSeccuess {
  @include not-mobile {
    height: auto;
    margin-top: 65px;
    margin-bottom: 150px;
  }

  > div {
    .successIcon {
      width: calc-web-1440(575.42px);
      height: calc-web-1440(471.51px);

      @include mobile-only {
        width: 392.96px;
        height: 322px;
        flex: none;
        transform: translateX(-23px);
      }
    }
  }

  .desc {
    white-space: pre-line;
  }
}
