.container {
    background: #f2f2f2;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    padding: 34px 26px;

    >div {
        display: flex;
        flex-direction: column;

        >img {
            object-fit: cover;
            background: #c4c4c4;
            border-radius: 10px;
            // width: 206px;

            max-width: 206px;
            width: 100%;

            aspect-ratio: 1;
            margin: 0px auto;
            margin-bottom: 18px;
        }

        >.content {
            // margin-top: 26px;

            // margin-bottom: 27px;

            margin-top: 14px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            // text-align: justify;
            text-align: left;

            color: #353435;

            a {
                color: #e53c2b;
            }

            h3 {

                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                /* or 125% */

                color: #000000;
            }

            >p {
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;

                color: #353435;
            }
        }

        >*:last-child {
            height: auto;
            width: 100%;

            >div {
                width: 100%;

                button {
                    width: 100%;

                    >div {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.close {
    position: absolute;
    right: 26px;
    top: 22px;
    cursor: pointer;
}

.ball {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 7px;
    display: inline-block;
    transform: translateY(3px);
}

.tel {
    display: flex;
    flex-direction: row;
    align-items: center;

    >span {
        margin-left: 10px;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        /* identical to box height */

        color: #353435;
    }

    margin-bottom: 6px;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;

    >svg {
        width: 20px;
        height: 16px;
    }

    >span {
        margin-left: 10px;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        /* identical to box height */

        color: #353435;
    }

    margin-bottom: 13px;
}

.linkIcon {

    margin-right: 10px;
}