
.sphere {
  display: inline-flex;
  flex-direction: row;

  align-items: center;
  min-width: 75px;
  margin-right: 15px;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;

  color: #353435;

  border: 0 !important;
  padding: 0;
  margin-right: 5px;

  > dot {
    width: 17px;
    height: 17px;
    border-radius: 8.5px;
    background-color: red;
    display: inline-block;
    margin-right: 7px;
  }
}