.scrollboxOuter {
  width: 100%;
  overflow-x: scroll;
  // padding-right: 100px;
  display: flex;

  @include not-mobile {
    overflow: hidden;
  }
}
.scrollboxInner {
  position: relative;
  display: flex;
  > div {
    flex: none;
  }
}
