.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  width: 60vw;
//   font-size: 55px;
//   line-height: 65px;
  font-size: 3.8vw;
  line-height: 1.4;
  text-align: center;
  font-weight: 700;
  text-shadow: rgba($color: #fff, $alpha: .5) 1px 0 10px;

  @include mobile-only {
    width: 80vw;
    font-size: 10vw;
  }

  .textEn {
    display: block;
    font-size: 2.8vw;
    line-height: 1.2;

    @include mobile-only {
        font-size: 6vw;
      }
  }
}

.image{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}