.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10000000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
