.section1 {
  display: flex;
  flex-direction: row;
  height: calc-web-1440(886px);
  align-items: center;

  @include mobile-only {
    flex-direction: column-reverse;
    height: auto;
    align-items: flex-start;
    margin-bottom: 89px;
  }

  > div {
    flex: 1;
    .joinBig {
      width: calc-web-1440(339px);
      height: calc-web-1440(388px);

      @include mobile-only {
        width: 300px;
        height: 367.84px;
      }
    }
    > h1,
    > h3 {
      font-style: normal;
      font-weight: bold;
      font-size: calc-web-1440(50px);
      line-height: calc-web-1440(70px);
      /* or 140% */

      color: #000000;
      margin-bottom: calc-web-1440(16px);
      @include mobile-only {
        font-size: 35px;
        line-height: 105%;
        margin-bottom: 30px;
      }
    }
    .desc {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      white-space: pre-line;
      /* or 167% */

      color: #000000;

      width: calc-web(558px);
      > a {
        text-decoration: underline;
        &:hover {
          color: $main-color;
        }
      }
      @include mobile-only {
        width: auto;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 165%;
      }
    }

    &:first-child {
      padding-right: calc-web(88px);

      text-align: right;

      @include mobile-only {
        padding-right: 0px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &:last-child {
      padding-left: calc-web(59px);
      @include mobile-only {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 42px;
      }
    }
  }
}
