%h3 {
  font-style: normal;
  font-weight: bold;
  font-size: calc-web-1440(50px);
  line-height: calc-web-1440(70px);
  @include mobile-only {
    font-size: 35px;
    line-height: 105%;
  }
}
%p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  white-space: pre-line;
  @include mobile-only {
    font-size: 16px;
    line-height: 30px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
  
  @include mobile-only {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  h3 {
    color: #000;
    font-family: "Noto Sans TC";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;

    @include mobile-only {
      font-size: 35px;
      margin-bottom: 40px;
    }
  }

  h4 {
    color: #000;

    font-family: "Noto Sans TC";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include mobile-only {
      font-size: 20px;
    }
  }

  ul {
    list-style-type: disc;

    li {
        font-size: 18px;
        line-height: 34px;
        @include mobile-only {
            font-size: 16px;
            line-height: 30px;
          }
    }
  }

  p {
    @extend %p;
    margin-bottom: 80px;

    @include mobile-only {
      margin-bottom: 60px;
    }

    a {
        text-decoration: underline;
    }
  }

  .content {
    width: calc-web-1440(1280px);
    margin-right: auto;
    margin-left: auto;

    @include mobile-only {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // row-gap: 40px;
    column-gap: 40px;
    margin-bottom: 40px;

    @include mobile-only {
      grid-template-columns: 1fr;
      row-gap: 0px;
      margin-bottom: 60px;
    }
  }

  .grid2 {
    display: none;
    grid-template-columns: 1fr;
    // row-gap: 40px;
    column-gap: 40px;
    margin-top: -40px;
    margin-bottom: 40px;

    @include mobile-only {
      grid-template-columns: 1fr;
      row-gap: 0px;
      margin-bottom: 60px;
    }
  }


  .aboutContent {
    > h4::before {
      content: "";
      width: 46px;
      height: 10px;
      background-color: #e53c2b;
      display: inline-block;
      margin-bottom: 4px;
      margin-right: 20px;
      @include mobile-only {
        margin-right: 10px;
        margin-bottom: 2.3px;
      }
    }
  }
}
html:lang(en) .section .grid2 {
    display: grid;
}
