.contentContainer {
  width: 550px;
  margin: 0px auto;

  @include mobile-only {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .head {
    text-align: center;
    margin: 81px 0 38px;
    @include mobile-only {
      margin: 30px 0;
    }
  }
}

.customSubmit {
  margin: calc-web-1440(103px) 0 calc-web-1440(106px);
  @include mobile-only {
    margin: 89px 0 70px;
  }
}

.submit {
  width: 430px;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;

  @include mobile-only {
    width: 100%;
  }

  color: #353435;
  > button {
    margin-top: 12px;
    width: 100%;
  }
}

.noticeContainer {
  margin: -24px;
  padding: 60px 20px 40px;
  @include not-mobile {
    padding: 100px 185px 70px;
  }

  .noticeTitle {
    font-size: calc-web-1440(50px);
    line-height: calc-web-1440(70px);
    text-align: center;
    font-weight: bold;
    margin-bottom: 45px;

    @include mobile-only {
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .noticeDesc {
    font-size: 18px;
    text-align: center;
    margin-bottom: calc-web-1440(128px);
    @include mobile-only {
      text-align: left;
    }
  }

  .checkboxGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;

    @include mobile-only {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 25px;
    }
  }
}
