.contentContainer {
  width: calc-web-1440(1020px);
  margin: 87px auto 193px;
  min-height: 50px;

  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 32px auto 74px;
  }

  .titleGroup {
    display: flex;
    align-items: center;
    margin-bottom: calc-web-1440(75px);
    @include mobile-only {
      display: block;
      margin-bottom: 25px;
    }
    .title {
      font-size: 50px;
      font-weight: bold;
      white-space: nowrap;
      @include mobile-only {
        font-size: 24px;
      }
    }
    .desc {
      font-size: 15px;
      line-height: 28px;
      margin-left: calc-web-1440(40px);
      @include mobile-only {
        margin-left: 0;
      }
    }
  }

  .listContainer {
    .listTitle {
      font-size: 20px;
      line-height: 28px;
      color: #e53c2b;
      margin-bottom: 13px;
    }
    .list {
      background-color: #f8f8f8;
      border-radius: 10px;
      padding: 40px 34px;
      @include mobile-only {
        padding: 25px;
      }
      .post {
        display: flex;
        align-items: center;
        @include mobile-only {
          flex-wrap: wrap;
        }
        .time {
          font-size: 13px;
          color: #888888;
        }
        .category {
          margin-left: 25px;
          color: #e53c2b;
        }
        .title {
          margin-left: 32px;
          margin-right: auto;
          line-height: 30px;
          @include mobile-only {
            margin-left: 0;
            margin-top: 20px;
            order: 4;
            width: 100%;
            display: flex;
          }
        }
        .status {
          width: 82px;
          text-align: center;
          font-size: 13px;
          white-space: nowrap;
          margin-left: auto;
          &.status1 {
            border: 1px solid #666666;
            color: #666666;
          }
          &.status2 {
            border: 1px solid #47be7d;
            color: #47be7d;
          }
          &.status3 {
            background-color: #E53C2B;
            color: white;
          }
          &.status4 {
            border: 1px solid #E53C2B;
            color: #E53C2B;
          }
        }
        .link {
          margin-left: 13px;
          min-width: 18px;
        }
      }

      .post + .post {
        border-top: 1px solid #dddddd;
        margin-top: 17px;
        padding-top: 17px;
      }
    }
  }

  .listContainer + .listContainer {
    margin-top: calc-web-1440(51px);
    @include mobile-only {
      margin-top: 34px;
    }
  }
}
