// @import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less"; // Import Ant Design styles by less entry

body {
  border-color: ~`colorPalette("#d9d9d9") `;
}
.ant-input:focus {
  border-color: #adadad;
}
// .button-variant-ghost:focus {
//   border-color: #adadad;
// }
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #adadad !important;
  // box-shadow: none !important;
}

.ant-input-textarea-show-count {
  margin-bottom: 24px;
}

.ant-upload.ant-upload-select-picture-card {
  border: none;
}
.avatarUpload {
  > .ant-upload {
    width: 150px;
    height: 150px;
    background: #c4c4c4;
    border-radius: 10px;
  }
}
.ant-form-item-explain-error {
  > div::before {
    content: "!";
    width: 20px;
    height: 20px;
    background-color: #e63c2b;
    font-family: "Noto Sans TC";
    color: white;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    font-size: 15px;
  }
  > div {
    margin-bottom: 5px;
  }
}

.ant-form-item-label > label {
  font-size: 20px;
  font-weight: 500;
}
.ant-popover{
  .ant-popover-arrow{
    display: none;
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: lightgray;
}

.ant-message-notice {
  .ant-message-notice-content {
    border-radius: 0;
    padding: 0;
  }
}

.ant-alert {
  border-radius: 0;
}

.ant-tooltip {
  border-radius: 4px;
}

.ant-tooltip-inner{
  border-radius: 4px;
}

.ant-switch-checked {
  background-color: #E63C2B;
}