.contentContainer {
  width: 950px;

  margin: 0px auto;

  @include mobile-only {
    width: auto;
    margin: 0px 20px;
  }
  > h1,
  > h3 {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 74px;

    color: #000000;
    margin-top: 62px;
    margin-bottom: 50px;

    @include mobile-only {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 33px;

      margin-top: 23px;
      margin-bottom: 29px;
    }
  }
  .contentInfo {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px 39px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 72px;

    @include mobile-only {
      padding: 20px 20px;

      font-size: 15px;
      line-height: 165%;

      margin-bottom: 56px;
    }

    .contehtStatus {
      color: #e63c2b;
    }
  }
}
.social {
  height: 100px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;

  margin-top: 80px;
  margin-bottom: 80px;

  @include mobile-only {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  > svg {
    cursor: pointer;
  }

  
  a {
    margin: 0 8px;
  }
}

.slideSection {
  margin-bottom: 124px;

  @include mobile-only {
    margin-bottom: 40px;
  }

  .slide {
    aspect-ratio: calc(800 / 485);
  }
  .download {
    margin-top: 16px;
    > a {
      color: #e63c2b;
      text-decoration: underline;
    }
  }
}
