.article {
  img {
    max-width: 100%;
  }
  p {
    font-family: Noto Sans TC;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
  }

  h2 {
    font-size: 1.5em;
    @include mobile-only {
        font-size: 1.5em;
    }
  }
  .table,
    table {
        width: 100%;
        font-family: "Noto Sans TC";
        font-size: 16px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0;
    }
    .table th,
    .table td,
    table th,
    table td {
        min-width: 2em;
        padding: .4em;
        border: 1px solid #bfbfbf;
    }

    ul li,
    ol li {
        font-family: "Noto Sans TC";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        color: #000;
    }
}
.article-simple {
  margin-top: calc-web-1440(130px);
  margin-bottom: calc-web-1440(150px);
  white-space: pre-line;
  font-size: 18px;
  line-height: 37px;
  /* or 206% */

  color: #000000;

  @include mobile-only {
    font-size: 15px;
    line-height: 165%;
    /* or 25px */

    margin-top: 23px;
    margin-bottom: 65px;

    color: #000000;
  }
  a {
    text-decoration: underline;
  }
}
