@radius: 15px;
.range-picker-overlay {
  padding-top: 0px;

  .ant-popover-inner {
    border: 2px solid #353435;
    border-radius: @radius;

    .ant-popover-inner-content {
      padding: 0px;
    }
  }
  .ant-popover-arrow {
    display: none;
  }
}

.react-calendar {
  width: 400px;
  max-width: 100%;
  background: white;
  // padding-bottom: 34px;
  // border: 1px solid rgb(160, 160, 150);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;

  border-radius: @radius;

  // padding-left: 22px;
  // padding-right: 22px;

  &--doubleView {
    width: 700px;

    .react-calendar__viewContainer {
      display: flex;
      margin: -0.5em;

      > * {
        width: 50%;
        margin: 0.5em;
      }
    }
  }

  &,
  & *,
  & *:before,
  & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  button {
    margin: 0;
    border: 0;
    outline: none;

    &:enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
    background: #f2f2f2;
    padding: 22px 38px;
    height: 83px;
    margin-bottom: 0px;

    border-top-right-radius: @radius;
    border-top-left-radius: @radius;

    button {
      // min-width: 44px;
      background: none;

      &:enabled {
        &:hover,
        &:focus {
          background-color: rgb(230, 230, 230);
        }
      }

      &[disabled] {
        background-color: rgb(240, 240, 240);
      }
    }

    &__prev2-button {
      display: none;
    }
    &__next2-button {
      display: none;
    }
    &__prev-button,
    &__next-button {
      width: 36px;
      height: 36px;
      background: #dcdcdc !important;
      border-radius: 5px;
      color: #e53c2b;
      font-size: 18px;
      line-height: 210%;
      &:hover {
        background: #e53c2b !important;
        color: white;
      }
    }
    &__label {
      height: 36px;
      font-size: 24px;
      text-align: center;
      color: #e53c2b;

      &:hover {
        background: none !important;
      }
    }
  }

  &__month-view {
    &__weekdays {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75em;

      margin-top: 14px;
      margin-bottom: 11px;
      font-size: 15px;
      line-height: 22px;

      &__weekday {
        padding: 0px;
        // margin-bottom: 11px;

        > abbr {
          text-decoration: none;
          font-weight: normal;
        }

        &:first-child,
        &:last-child {
          color: #e53c2b;
        }
      }
    }

    &__weekNumbers {
      .react-calendar__tile {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75em;
        font-weight: bold;
        padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
      }
    }

    &__days {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      row-gap: 12px;

      button {
        border: 1px solid #dcdcdc;
        box-sizing: border-box;
        border-radius: 5px;
        width: 36px;
        height: 36px;
        max-width: none !important;
        justify-self: center;
      }
      &__day {
        color: #e53c2b;
        &--weekend {
          // color: rgb(209, 0, 0);
        }

        &--neighboringMonth {
          color: #dcdcdc;
          border: 1px solid #dcdcdc;
        }
      }
    }
  }

  &__viewContainer {
    padding: 0px 32px;
  }

  &__year-view,
  &__decade-view,
  &__century-view {
    .react-calendar__tile {
      padding: 2em 0.5em;
    }
  }

  &__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;

    &:disabled {
      background-color: rgb(240, 240, 240);
    }

    &:enabled {
      &:hover {
        background-color: #e53c2b;
        color: white;
      }
      &:focus {
        background-color: rgba(229, 60, 43, 0.2);
        border: 1px solid #e53c2b;
        // background-color: #e53c2b;
        // color: white;
      }
    }

    &--now {
      // @bgcolor: lighten(rgb(220, 220, 0), 30%);
      // background: @bgcolor;

      // &:enabled {
      //   &:hover,
      //   &:focus {
      //     background: lighten(@bgcolor, 10%);
      //   }
      // }
    }

    &--hasActive {
      @bgcolor: #e53c2b;
      // @bgcolor: lighten(rgb(0, 110, 220), 30%);
      background: @bgcolor;

      &:enabled {
        &:hover,
        &:focus {
          // background: lighten(@bgcolor, 10%);
          background: @bgcolor;
        }
      }
    }

    &--active {
      @bgcolor: #e53c2b;
      background: @bgcolor;
      color: white;

      &:enabled {
        &:hover,
        &:focus {
          // background: lighten(@bgcolor, 10%);
          background: @bgcolor;
        }
      }
    }
  }

  &--selectRange {
    .react-calendar__tile {
      &--hover {
        background-color: rgba(229, 60, 43, 0.2);
        border: 1px solid #e53c2b;
      }
    }
  }
}
