.contentContainer {
  width: calc-web-1440(900px);
  margin: 0px auto;

  @include pad-landscape {
    width: 90%;
  }

  @include pad-portrait {

  }

  
  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .head {
    margin: calc-web-1440(105px) 0 calc-web-1440(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-only {
      margin: 28px 0 40px;
      justify-content: flex-start;
    }

    > img {
    //   width: 80px;
    //   height: auto;
      border-radius: 50%;
      width: auto;
      height: 80px;
    }

    .headBlock {
      margin-left: 20px;
      @include mobile-only {
        margin-left: 0;
      }
      .desc {
        font-size: 16px;
      }
      .name {
        font-size: 30px;
      }
    }
  }

  .title {
    font-size: 50px;
    line-height: 74px;
    /* identical to box height */
    font-style: normal;
    font-weight: normal;
    text-align: center;

    color: #000000;
    margin-top: 67px;
    margin-bottom: 32px;

    @include mobile-only {
      font-size: 22px;
      line-height: 33px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.contentContainer2 {

  width: calc-web-1440(900px);
  margin: 0px auto;
  
  @include pad-landscape {
    width: 90%;
  }

  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .mainTitle {
    font-size: 20px;
    margin-bottom: 30px;
    @include mobile-only {
      font-size: 18px;
    }
  }

  .card {
    border-radius: 15px;
    background-color: #f8f8f8;
    color: #999999;
    font-family: Oswald;
    &.selected {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
      color: initial;
      font-weight: bold;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 15px;
    }
    .cardContent {
      border-radius: 15px;
      padding: 30px 16px 13px;
      @include mobile-only {
        padding: 20px 16px 15px;
      }
    }
    .cardTitle {
      font-size: 17px;
      margin-bottom: 20px;
    }
  }
}

.formItemBlock {
  margin-bottom: 60px;

  @include mobile-only {
    margin-bottom: 40px;
  }
}

.formItemBlock1 {
  margin-bottom: 35px;

  @include mobile-only {
    margin-bottom: 20px;
  }
}

.notice {
  > span {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #e63c2b;
    color: #e63c2b;
    margin-right: 10px;
  }
}

.noticeCheck {
  margin-top: calc-web-1440(62px);
  margin-bottom: calc-web-1440(62px);

  @include mobile-only {
    margin-top: 41px;
    margin-bottom: 40px;
  }
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 125px;
  grid-row-gap: 40px;

  @include mobile-only {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
  }
}

.checkboxGroup {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 125px;
  grid-row-gap: 40px;

  @include mobile-only {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
  }
}

.inputWithRadioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;

  @include mobile-only {
    flex-direction: column;
    gap: 0px;

    > *:first-child {
      margin-bottom: 0px;
    }

    > * {
      width: 100%;
    }

    > *:last-child {
      > div:first-child {
        // display: none;
      }
    }
  }

  *:first-child {
    flex: 1;
  }
}

.inputGroupConoact {
  display: flex !important;
  flex-direction: row;
}

.actionButtonGroup {
  margin-top: 60px;
  margin-bottom: 150px;

  @include mobile-only {
    margin-top: 29px;
    margin-bottom: 65px;
  }
}

.actionButton {
  width: 100%;

  @include mobile-only {
    margin-bottom: 14px;
  }
}

.avaterUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 69px;
  margin-top: 42px;
  text-align: center;

  @include mobile-only {
    margin-bottom: 45px;
    margin-top: 43px;
  }

  .uploadDefaultGroup {
    position: relative;
    height: 100%;
    width: 100%;

    .iconUpload {
      position: absolute;
      top: -11px;
      right: -13px;
    }

    margin-bottom: 0px;
  }

  .qusetion {
    display: flex;
    justify-content: center;
  }
}

.qusetion {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  line-height: 30px;

  @include mobile-only {
    font-size: 13px;
    line-height: 20px;
  }

  > svg {
    margin-right: 6px;
  }
}

.sectionSeccuess {
  @include not-mobile {
    height: auto;
    margin-top: 65px;
    margin-bottom: 150px;
  }

  > div {
    .successIcon {
      width: calc-web-1440(575.42px);
      height: calc-web-1440(471.51px);

      @include mobile-only {
        width: 392.96px;
        height: 322px;
        flex: none;
        transform: translateX(-23px);
      }
    }
  }

  .desc {
    white-space: pre-line;
  }
}

.checkForm {
  margin-top: 55px;
  margin-bottom: 95px;

  @include mobile-only {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  a {
    color: #e63c2b;
    text-decoration: underline;
  }

  > hr {
    border-top: 1px solid #c4c4c4;
  }

  > hr:first-child {
    margin-bottom: 15px;
  }

  > label {
    margin-bottom: 10px;
  }

  > hr:last-child {
    margin-top: 20px;

    @include mobile-only {
      margin-top: 10px;
    }
  }
}

.emailNotice {
  margin: -15px 0 24px;
  color: #999999;
  display: flex;
  align-items: center;
  font-size: 13px;
  svg {
    margin-right: 6px;
    min-width: 20px;
  }
}

.memberItem {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  min-height: 67.56px;
  > svg {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: scale(0.7);
  }
}

.customSubmit {
  margin: calc-web-1440(103px) 0 calc-web-1440(106px);
  @include mobile-only {
    margin: 89px 0 70px;
  }
}

.submit {
  width: 430px;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;

  @include mobile-only {
    width: 100%;
  }

  color: #353435;
  > button {
    margin-top: 12px;
    width: 100%;
  }
}

.step4BtnGroup {
  margin: calc-web-1440(92px) 0 calc-web-1440(213px);
  @include mobile-only {
    margin: 24px 0 66px;
  }
  .step4Btn {
    width: 100%;
  }
}

.cropperContainer {
  padding: calc-web-1440(24px) calc-web-1440(90px) calc-web-1440(40px);
  background-color: #F8F8F8;

  @include mobile-only {
    flex-direction: column-reverse;
    padding: 0;

    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .descContainer {
    .desc1 {
      font-size: 16px;
      line-height: 30px;
    }

    .desc2 {
      font-size: 13px;
      line-height: 22px;
      color: #999999;
    }
  }

  .cropperBlock {
    // padding-left: calc-web-1440(38px);
    .cropperBox {
      background-color: #eeeeee;
      width: 100%;
      height: 22vw;
      max-height: 373px;
      @include mobile-only {
        height: 66vw;
        max-height: 390px;
        max-width: 550px;
      }

      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .cropperDoneImg {
        width: 40%;
        height: auto;
      }
    }
    // .cropperBox {
    //   width: 82%;
    //   height: 357px;
    //   @include mobile-only {
    //     width: 100%;
    //   }
    // }

    .btnGroup {
      display: flex;
      justify-content: flex-end;
      margin-top: calc-web-1440(14px);
      // @include mobile-only {
      //   display: none;
      // }
      button + button {
        margin-left: 10px;
        // @include mobile-only {
        //   margin-top: 10px;
        //   margin-left: 0;
        // }
      }
    }
  }

  .imgFields {
    margin-top: 34px;
    @include mobile-only {
      margin-top: 10px;
    }
  }
}

.step4Title1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 54px;
  text-align: center;
  @include mobile-only {
    font-size: 30px;
    text-align: left;
  }
}

.step4DefaultBlock {
  background-color: #f8f8f8;
  border-radius: 15px;
  width: 390px;
  height: 16.5vw;
  @include mobile-only {
    width: 100%;
    height: 64vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
  }
}