.companionPage {
  .customTab {
    color: #a1a5b7;
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #e53c2b;
    }
    .ant-tabs-ink-bar {
      background: #e53c2b;
    }
  }

  .customTag {
    color: #e53c2b;
    border: 1px solid #e63c2b;
    border-radius: 0px;
    font-size: 15px;
    padding: 3px 10px;
    cursor: pointer;
    margin: 5px 10px 5px 0;
    @include mobile-only {
      font-size: 13px;
    }
    .ant-tag-close-icon {
      color: #e53c2b;
      font-size: 15px;
      @include mobile-only {
        font-size: 13px;
      }
    }
  }

  .customUpload {
    .ant-upload {
      width: 100%;
      height: 22vw;
      max-height: 373px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EEEEEE;
      border-radius: 10px;
      margin: auto;
      @include mobile-only {
        height: 66vw;
        max-height: 390px;
        max-width: 550px;
      }
    }
  }
}
