.contentContainer {
  width: 950px;
  margin: 0px auto;
  padding-top: calc-web-1440(150px);
  padding-bottom: calc-web-1440(242px);
  @include mobile-only {
    width: auto;
    margin: 0px 20px;
    padding-top: 52px;
    padding-bottom: 78px;
  }
  .status {
    color: #E53C2B;
    font-size: calc-web-1440(50px);
    line-height: calc-web-1440(70px);
    font-weight: bold;
    text-align: center;
    margin-bottom: calc-web-1440(80px);
    @include mobile-only {
      font-size: 40px;
      line-height: 70px;
      margin-bottom: 20px;
    }
  }

  .title {
    margin-bottom: calc-web-1440(40px);
    font-size: calc-web-1440(36px);
    line-height: calc-web-1440(50px);
    font-weight: bold;
    @include mobile-only {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 40px;
    }
  }
  .content {
    margin-bottom: calc-web-1440(164px);
    @include mobile-only {
      margin-bottom: 117px;
    }
    a {
      text-decoration: underline;
      color: #E53C2B;
      font-size: 22px;
    }
  }

  .notice {
    font-size: 22px;
    line-height: 33px;
    width: 512px;
    margin: 0 auto calc-web-1440(48px);
    @include mobile-only {
      margin-bottom: 35px;
      width: auto;
    }
    a {
      color: #E53C2B;
      text-decoration: underline;
    }
  }

  .consentBtn {
    text-align: center;
  }
}
