.contentContainer {
  padding-top: calc-web-1440(100px);
  padding-bottom: calc-web-1440(100px);
  .title {
    font-size: calc-web-1440(50px);
    font-weight: bold;
    margin-bottom: 15px;
    @include mobile-only {
      font-size: 24px;
    }
    .link {
      margin-left: 15px;
      svg {
        transform: scale(1.6);
      }
    }
  }

  .time {
    margin-bottom: 10px;
  }

  .desc {
    margin-bottom: calc-web-1440(56px);
    span {
      color: #e53c2b;
    }
  }

  .listContainer1 {
    margin-bottom: calc-web-1440(91px);
    .list1 {
      color: initial;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: calc-web-1440(40px);
      grid-row-gap: calc-web-1440(16px);
      @include mobile-only {
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: auto;
      }

      .switch {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }

  .listContainer2 {
    margin-bottom: calc-web-1440(100px);
    .list2 {
      color: initial;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: calc-web-1440(26px);
      grid-row-gap: calc-web-1440(16px);
      @include mobile-only {
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: auto;
      }
    }
  }

  .checkGroup {
    margin-bottom: calc-web-1440(56px);
    .check {
      background-color: #f2f2f2;
      padding: 10px;
    }

    .check + .check {
      margin-top: 5px;
    }
  }

  .submitBtn {
    text-align: center;
  }

  .emptyBlock {
    background-color: #f8f8f8;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #999999;
    padding: 58px 0;
    @include mobile-only {
      padding: 58px 25px;
    }

    .titleBlock {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 45px;
      div + div {
        margin-left: 10px;
      }
    }

    .btnGroup {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile-only {
        display: block;
      }
      button {
        position: relative;
        @include mobile-only {
          width: 100%;
        }
        &::before {
          content: "+";
          font-size: 40px;
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
        }
      }
      button + button {
        margin-left: 20px;
        @include mobile-only {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}

.confirmLightBox {
  .button1 {
    button {
      border-color: #999999;
      color: #999999;
      &:hover {
        border-color: transparent;
        color: white;
      }
    }
  }
}
