.filter {
  width: 260px;

  @include mobile-only {
    width: 335px;
    margin: 0 auto;
  }

  @include pad-portrait {
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #353435;
    margin-bottom: 29px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:first-child {
        flex: 1;

        > svg {
          margin-right: 11px;
        }
      }

      &:last-child {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #e63c2b;
      }
    }
  }

  .optionHeader {
    display: flex;
    align-items: center;
    height: 54px;

    border-top: 2px solid #353435;
    border-bottom: 2px solid #353435;

    margin-bottom: 18px;

    > div:first-child {
      flex: 1;
    }

    cursor: pointer;
  }

  .filterContnet {
    input[type="checkbox"] {
      opacity: 0;
      width: 0px;
    }

    label {
      position: relative;
      padding-left: 36px;
      line-height: 40px;
      cursor: pointer;
    }

    label::before {
      content: "";
      position: absolute;
      left: 0px;
      top: -1px;
      width: 25px;
      height: 25px;
      border: 2px solid #f2f2f2;
      border-radius: 8px;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + label::before {
      background-color: #e63c2b;
      border: 2px solid #ff0000;
    }

    .filterContnet {
      margin-left: 40px;
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: calc-web(82px);

  margin-top: 85px;

  @include mobile-only {
    flex-direction: column;
  }

  .contentInner {
    width: 100%;
    margin-bottom: 40px;

    .count {
      font-family: "Noto Sans TC";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 210%;
      /* identical to box height, or 42px */

      text-align: right;

      color: #353435;
      margin-bottom: 33px;

      @include mobile-only {
        width: 335px;
        margin: 0 auto;
      }

      @include pad-portrait {
        width: calc(100% - 40px);
      }
    }

    .loading {
      margin: 30px 0px;
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: calc-web(31px);
      row-gap: calc-web(80px);

      @include mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
      }

      @include pad-portrait {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row;
        margin: 20px 0 40px;
        // margin: 0 auto;
      }
    }
  }
}

.paginate {
  padding: 32px 0px;
  background: #f2f2f2;
  border-radius: 10px;

  margin-bottom: 124px;
}

.body {
  @include pad-portrait {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  > .bodyBox {
    @include mobile-only {
      width: auto;
      margin: 0;
    }

    @include pad-portrait {
      position: relative;
      width: 31%;
      margin: 0 1%;
    }
  }
}
