.contentContainer {
  @include mobile-only {
    justify-content: flex-start !important;
  }

  .contentGroup {
    text-align: left;
    display: inline-block;
    @include mobile-only {
      margin-top: 53px;
      margin-left: 20px;
    }
    @include not-mobile {
      padding-left: 60px;
    }
    .logo {
      width: calc-web-1440(200px);
      height: calc-web-1440(61.33px);
      @include mobile-only {
        width: 200px;
        height: 61.33px;
        margin-bottom: 40px;
      }
    }
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 70px;
      white-space: pre-line;
      /* or 140% */

      color: #e63c2b;
      @include mobile-only {
        font-weight: bold;
        font-size: 35px;
        line-height: 105%;
        margin-bottom: 37px;
      }
    }
    > p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      color: #000000;
      white-space: pre-line;

      @include mobile-only {
        font-size: 15px;
        line-height: 165%;
      }
    }
  }
}

.formContainer {
  width: 100%;
  .form {
    width: 430px;
    @include mobile-only {
      width: 100%;
    }
  }
  .button {
    height: 59.72px;
    font-size: 24px;
    line-height: 105%;
    /* or 25px */

    width: 100%;
    border-radius: 50px;
    text-align: center;
    margin-top: 34px;
  }
}
