.head {
  display: flex;
  margin-bottom: calc-web-1440(110px);
  @include mobile-only {
    display: block;
  }
  img {
    width: 50%;
    height: 100%;
    height: auto;
    object-fit: cover;

    @include mobile-only {
      width: 100%;
    }
  }

  .headContent {
    padding: calc-web-1440(55px) calc-web-1440(67px);
    position: relative;
    @include mobile-only {
      padding: 36px 20px;
    }
    .tagList {
      margin-bottom: calc-web-1440(25px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .tag {
        min-width: 110px;
        color: white;
        text-align: center;
        padding: 5px 15px;
        margin: 0 5px 5px 0;
        &.category {
          background-color: white;
          color: #fe5520;
          border: 1px solid #fe5520;
        }

        &.area {
          background-color: #fe5520;
        }
      }

      .tag + .tag {
        margin-top: 10px;
      }
    }

    .contentInfo {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 72px;

      @include mobile-only {
        padding: 20px 20px;

        font-size: 15px;
        line-height: 165%;

        margin-bottom: 56px;
      }

      .time {
        font-family: Oswald;
        margin-bottom: 25px;
      }

      > h3 {
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: calc-web-1440(32px);
        line-height: calc-web-1440(46px);

        color: #000000;
        margin-bottom: calc-web-1440(25px);

        @include mobile-only {
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 33px;
        }
      }

      .contehtStatus {
        color: #e63c2b;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.contentContainer {
  width: 950px;
  margin: 0px auto;

  @include mobile-only {
    width: auto;
    margin: 0px 20px;
  }

  .signUp {
    text-align: center;
    button {
      width: 240px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.social {
  height: 100px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;

  margin-top: 80px;
  margin-bottom: 80px;

  @include mobile-only {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  > svg {
    cursor: pointer;
  }

  a {
    margin: 0 8px;
  }
}

.slideSection {
  margin-bottom: 124px;

  @include mobile-only {
    margin-bottom: 40px;
  }

  .slide {
    aspect-ratio: calc(800 / 485);
  }
  .download {
    margin-top: 16px;
    > a {
      color: #e63c2b;
      text-decoration: underline;
    }
  }
}

.recentContainer {
  .content {
    position: relative;
    padding: calc-web-1440(58px) 0 calc-web-1440(48px);
    @include mobile-only {
      padding: 45px 20px;
    }
    .title {
      color: white;
      font-weight: 700;
      font-size: calc-web-1440(55px);
      line-height: calc-web-1440(79.64px);
      margin-bottom: calc-web-1440(58px);
      @include mobile-only {
        font-size: 35px;
        line-height: initial;
        margin-bottom: 40px;
      }
    }
  }
}

.signUpLightBox {
  .container {
    .title {
      text-align: left;
      font-size: 35px;
      @include mobile-only {
        font-size: 22px;
      }
    }
    .desc {
      font-size: 22px;
      text-align: left;
      margin-bottom: 0;
      .descTitle {
        margin-bottom: 30px;
      }

      .descError {
        color: red;
        text-align: center;
      }
    }
    .button1 {
      button {
        color: #e63c2b;
        border-color: #e63c2b;
        &:hover {
          color: white;
        }
      }
    }
    .button2 {
      button {
        color: white;
        background-color: #e63c2b;
        border-color: #e63c2b;
      }
    }
  }
}
