.contentContainer {
  width: calc-web-1440(1278px);
  margin: 90px auto 195px;
  min-height: 50px;

  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 30px auto 47px;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    @include mobile-only {
      font-size: 24px;
    }
  }

  .tabList1 {
    color: initial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: calc-web-1440(40px);
    grid-row-gap: calc-web-1440(46px);
    @include mobile-only {
      grid-template-columns: 1fr;
      max-width: 300px;
      margin: auto;
    }
  }

  .tabList2 {
    color: initial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: calc-web-1440(26px);
    grid-row-gap: calc-web-1440(126px);
    @include mobile-only {
      grid-template-columns: 1fr;
      max-width: 300px;
      margin: auto;
    }
  }
}
