.favoritePage {
  .customTab {
    color: #a1a5b7;
    .ant-tabs-nav {
      max-width: 600px;
      width: 100%;
      margin: 0 auto 81px;
      @include mobile-only {
        margin: 0 auto 39px;
      }
      &::before {
        border-bottom: 8px solid #f0f0f0;
        border-radius: 20px;
      }
    }
    .ant-tabs-nav-list {
      width: 100%;
      .ant-tabs-tab {
        width: 100%;
        margin-bottom: 24px;
        &.ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            color: #e53c2b;
          }
        }
        .ant-tabs-tab-btn {
          margin: auto;
          font-size: 22px;
        }
      }
    }

    .ant-tabs-ink-bar {
      background: #e53c2b;
      height: 8px;
      border-radius: 20px;
    }
  }
}

