.titlePc {
  display: none;
  @include mobile-only {
    display: block;
    margin: 41px 0 63px 25px;
  }
}
.titleMobile {
  display: block;
  @include mobile-only {
    display: none;
  }
}

.logo {
  width: calc-web-1440(575.42px);
  height: calc-web-1440(471.51px);
  @include mobile-only {
    width: 100%;
    height: auto;
    width: 425px;
    height: 341.11px;
    margin-bottom: 0px;
  }
}

.formContainer {
  width: 100%;
  .form {
    width: 430px;
    @include mobile-only {
      width: 100%;
    }
  }

  .desc {
    margin: 22px 0 30px;
    line-height: 30px;
  }
  .button {
    height: 59.72px;
    font-size: 24px;
    line-height: 105%;
    /* or 25px */

    width: 100%;
    border-radius: 50px;
    text-align: center;
  }
}
