@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./pagination.scss";
@import "./rangePicker.scss";
@import "./lightbox.scss";

@import "./article.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

// html {
//   background: #f2f2f2;
// }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $main-color;
  }
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 105%;
  color: #e53c2b;

  @include mobile-only {
    font-size: 35px;
    line-height: 105%;
  }
}

.button {
  color: #353435;
  border: 2px solid #353435;
  box-sizing: border-box;
  border-radius: 26px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 105%;
  background: none;
  padding: 12px 52px;
  cursor: pointer;

  @include mobile-only {
    font-size: 20px;
    line-height: 105%;
    padding: 8px 42px;
  }

  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;

  &:hover {
    color: $main-color;
    border-color: $main-color;
  }
}

.button.light {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.button.active {
  color: #e53c2b;
  border: 2px solid #e53c2b;
}

.videoGroup {
  .slick-prev,
  .slick-next {
    width: 35px;
    height: 63px;
    color: #ffff;
    // position: absolute;
    // top: 50%;
    cursor: pointer;

    @include mobile-only {
      display: none !important;
    }
  }

  .slick-prev {
    z-index: 1;
    transform: translate(0, -50%) rotate(180deg);
  }

  // .slick-prev:hover,
  // .slick-prev:focus,
  // .slick-next:hover,
  // .slick-next:focus {
  //     color: #ffff;
  // }

  .slick-prev {
    left: calc-web(141px) !important;
  }

  .slick-next {
    right: calc-web(141px) !important;
  }

  .slick-dots {
    @include not-mobile {
      display: none !important;
    }

    bottom: 17.44px;

    li {
      margin: 0 7px;
    }

    li button:before {
      color: #f5f3f6;
      opacity: 1;
      font-size: 14px;
    }

    li.slick-active button:before {
      color: #f93b1d;
    }
  }
}

.mobile-only {
  @include not-mobile {
    display: none !important;
  }
}

.desktop-only {
  @include mobile-only {
    display: none !important;
  }
}

// .lock {
//     overscroll-behavior-x: none;
// }

.droupdown {
  align-items: center;
  position: relative;
  display: flex;
  padding: 0;
  width: 335px;
  height: 50px;
  border-radius: 50px;
  margin-top: 29px;

  select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    // Stack above custom arrow
    z-index: 1;

    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }

    // Remove focus outline, will add on alternate element
    outline: none;
  }

  select {
    color: #353435;
    padding: 20px 38px;

    @include mobile-only {
      padding: 9px 21px;
    }
  }

  cursor: pointer;
  background: #ffffff;
  border: 2px solid #353435;

  // Custom arrow
  &::after {
    content: "";
    background-color: #353435;
    position: absolute;
    right: 17px;
    top: calc(50% - 4px);
    width: 16px;
    height: 8px;

    clip-path: path(
      "M13.71.29a1,1,0,0,0-1.42,0L7,5.59,1.71.29A1,1,0,0,0,.29,1.71l6,6,.71.7.71-.7,6-6A1,1,0,0,0,13.71.29Z"
    );
  }
}

.contentContainer {
  margin: 0 auto;
  width: calc-web-1440(1288px);

  @include mobile-only {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.joinIcon {
  display: block;
  margin: 42px auto 120px auto;
  cursor: pointer;

  @include mobile-only {
    margin: 0px auto 59px auto;
  }
}

.basic-section {
  display: flex;
  flex-direction: row;
  height: calc-web-1440(886px);
  align-items: center;

  @include mobile-only {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    margin-bottom: 89px;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  > div {
    flex: 1;
    // .joinBig {
    //   width: calc-web-1440(339px);
    //   height: calc-web-1440(388px);

    //   @include mobile-only {
    //     width: 300px;
    //     height: 367.84px;
    //   }
    // }

    > h3 {
      font-style: normal;
      font-weight: bold;
      font-size: calc-web-1440(50px);
      line-height: calc-web-1440(70px);
      /* or 140% */

      color: #000000;
      margin-bottom: calc-web-1440(16px);

      @include mobile-only {
        font-size: 35px;
        line-height: 105%;
        margin-bottom: 30px;
      }
    }

    .desc {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      color: #000000;

      width: calc-web(558px);

      > a {
        text-decoration: underline;

        &:hover {
          color: $main-color;
        }
      }

      @include mobile-only {
        width: auto;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 165%;
      }
    }

    &:first-child {
      padding-right: calc-web(88px);

      text-align: right;

      @include mobile-only {
        padding-right: 0px;
        text-align: center;
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &:last-child {
      padding-left: calc-web(59px);

      @include mobile-only {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 42px;
      }
    }
  }
}

.ant-checkbox-inner {
  border-radius: 8px;

  @include mobile-only {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}

.ant-checkbox-inner::after {
  top: 9px;
  left: 4px;

  @include mobile-only {
    top: 7px;
    left: 2px;
  }
}

.ant-radio {
  transform: translateY(4px);

  @include mobile-only {
    transform: translateY(1px);
  }
}

.ant-radio-inner {
  border-color: #d9d9d9;
  border-width: 2px;
}

.ant-checkbox {
  transform: translateY(4px);

  @include mobile-only {
    transform: translateY(1px);
  }
}

.ant-input-textarea-show-count::after {
  float: left;
  color: #c4c4c4;
  font-size: 15px;
  line-height: 30px;
  margin-top: -4px;

  @include mobile-only {
    float: right;
  }
}

.ant-input[disabled],
.ant-input-disabled {
  background: none;
  color: #000000;
}

.ant-checkbox-checked.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #c4c4c4;
  border-color: #c4c4c4 !important;
}

.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #ffffff;
}

.ant-radio-disabled + span,
.ant-checkbox-disabled + span {
  color: #000000;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background: none;
  color: #000000;
}

.ReactCollapse--collapse {
  transition: height 500ms;
  margin: 0 0 20px;

  @include pad-portrait {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #f5f5f5;
    z-index: 1;
  }
  label::before {
    @include mobile-only {
      border-color: #f2f2f2 !important;
    }
    @include pad-portrait {
      border-color: #ddd !important;
    }
  }

  > div {
    max-height: 355px;
    overflow: scroll;
    overflow-x: hidden;

    @include mobile-only {
      overflow: scroll;
      overflow-x: hidden;
    }

    @include pad-portrait {
      max-height: 355px;
      overflow: scroll;
      overflow-x: hidden;
    }
  }
}

// .parallax-banner {
//     @include pad-portrait {
//         height: 300px !important;
//     }
// }

.marker {
  background-image: url("/images/marker.png");
  width: 30px;
  height: 44px;
  // transform: translateY(22px);
  cursor: pointer;

  &.focus {
    background-image: url("/images/markerFocus.png");
    width: 46px;
    height: 70px;
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.customTitle1 {
  font-weight: bold;
  font-size: calc-web-1440(50px);
  line-height: calc-web-1440(70px);

  @include mobile-only {
    font-size: 35px;
    line-height: 105%;
  }
}

.customRadioGroup {
  display: flex;
  justify-content: space-between;

  @include mobile-only {
    display: block;
  }
  .ant-radio-wrapper {
    width: 100%;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    &:first-child {
      margin-right: 40px;
    }
  }
  @include mobile-only {
    .ant-radio-wrapper {
      &:first-child {
        margin-right: 0;
      }
    }
    .ant-radio-wrapper + .ant-radio-wrapper {
      margin-top: 10px;
    }
  }
}

.customPopover {
  .ant-popover-inner {
    border-radius: 10px;
    border: 2px solid #dddddd;

    svg {
      display: block;
      cursor: pointer;
    }
    svg + svg {
      margin-top: 15px;
    }
  }
}

.customUpload1 {
  .ant-upload {
    width: 100%;
    .uploadContainer {
      background-color: #eeeeee;
      border-radius: 20px;
      padding: 40px 40px;
      text-align: center;
      position: relative;
      .fileName {
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: auto;
      }
      .desc1 {
        font-size: 15px;
      }
      .desc2 {
        font-size: 12px;
        color: #999999;
      }
      .operate {
        position: absolute;
        right: 15px;
        bottom: 10px;
        svg {
          cursor: pointer;
        }
        svg + svg {
          margin-left: 25px;
        }
      }
    }
  }
}

.ck-editor__editable {
  min-height: 272px;
  @include mobile-only {
    min-height: 203px;
  }
}

.ant-tabs-tab .ant-tabs-tab-btn {
  text-align: center;
  min-width: 100px;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 0;
}

.ant-input {
  border: 2px solid #ddd;
}

.ant-input-suffix {
  margin: 0 15px;
  font-size: 18px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 2px solid #ddd;
}

.ant-input-affix-wrapper {
  padding: 0 0 0 0;
  border: 2px solid #ddd;
}
.ant-input-affix-wrapper > .ant-input:not(textarea) {
  padding: 11.2px 16px;
}

.ant-input-prefix {
  margin-left: 20px;
  margin-right: 0;
}
.ant-checkbox-inner {
  border: 2px solid #ddd;
}

// .ant-form-item {
//     margin-bottom: 34px;
// }

// .ant-row-bottom {
//     margin-bottom: 34px !important;
// }

.ant-form-item-label > label {
  font-size: 17px;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background: #fa786a;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fa786a;
}

.ant-checkbox-wrapper {
  margin-left: 8px;
  margin-right: 8px;
}

.ant-checkbox-wrapper a {
  text-decoration: underline;
  margin: 0 3px;
}

.ant-checkbox-wrapper span > span {
  white-space: nowrap;
}
html:lang(en) .ant-checkbox-wrapper span > span {
  white-space: normal;
}

.ant-modal-close-x {
  margin-top: 10px;
  margin-right: 10px;
}

html:lang(en) .companionPage .enStyle a {
  font-size: 16px !important;
  // height: 12vw;
  // display: inline-block;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}
html:lang(en) .enLH {
  font-size: 15px !important;
  line-height: 1.2 !important;
}
html:lang(en) .enMenuLi ul li {
  font-size: 40px !important;
  letter-spacing: -1px;
  @include mobile-only {
    font-size: 8vw !important;
  }
}
html:lang(en) .enMenuLi ul li::before {
  font-size: 20px !important;
  @include mobile-only {
    font-size: 5vw !important;
  }
}
html:lang(en) .enMainTitle {
  font-size: 60px !important;
  // @include mobile-only {
  //     font-size: 5vw !important;
  // }
}

html:lang(en) .ant-checkbox-group {
    // grid-template-columns: repeat(3, 1fr) 125px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lastname {
    padding-left: 3px;
}

.homeNone {
    display: block;
}

.homePage .homeNone {
    display: none;
// .canvasHeight {
//     canvas {
//         height: 100% !important;
//     }
// }
}

.heroSwiper {
  .swiper-pagination-bullet {
    background: #d9d9d9;
    opacity: 1;
    margin: 0px 11px !important;
  }
  .swiper-pagination-bullet-active {
    background: #e53c2b;
  }
  .swiper-pagination {
    bottom: 42px;
    @include mobile-only {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  // .swiper-button-prev, .swiper-button-next {
  //     color: #FA786A;
  // }
  .swiper-button-prev,
  .swiper-button-next {
    width: 69px;
    height: 69px;
    // background-color: #ffffff;
    // border-radius: 5px;

    // color: #E53C2B;

    &::after {
      font-size: 21px;
      font-weight: 700;
      content: "";
    }

    @include mobile-only {
      top: auto;
      bottom: 31px;
      width: 39px;
      height: 39px;
    }
  }
  .swiper-button-prev {
    left: 40px;
    background-image: url("/images/hero/arrowLeft.png");
    @include mobile-only {
      background-image: url("/images/hero/arrowLeftM.png");
    }
  }
  .swiper-button-next {
    right: 40px;
    background-image: url("/images/hero/arrowRight.png");
    @include mobile-only {
      background-image: url("/images/hero/arrowRightM.png");
    }
  }
}

.bgRed {
    .swiper-slide {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}

.seoH1 {
    position: absolute;
    top: -9999px;
    z-index: -99999;
}

.image-style-align-center {
    text-align: center;
}