.bgContainer {
  position: relative;

  // background: #f2f2f2;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    height: calc(100% - calc-web(500px));
    // height: calc(100% - 500px);
    background: #f2f2f2;
    z-index: -2;
  }
}

.banner {
  width: 100vw;
  height: 31vw;
  background-color: grey;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

//   @media only screen and (max-width : 1280px) {
//     height: 440px;
//   }

//   @include pad-landscape {
//     height: 400px;
//   }

//   @include pad-portrait {
//     height: 500px;
//   }

  @include mobile-only {
    width: 100vw;
    height: 133vw;
    // font-size: 30px;
    // line-height: 40px;
  }

  .scrollIcon {
    position: absolute;
    right: calc-web(56px);
    bottom: calc-web(35px);
    display: none;
  }
}



.countContainer {
  display: flex;
  @include mobile-only {
    display: block;
  }
  .count {
    width: 50%;
    padding: calc-web(60px) calc-web(75px);
    color: #e53c2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-only {
      width: 100%;
      display: block;
      text-align: center;
      padding: 40px 58px;
    }

    &.count1 {
      background-color: white;
    }
    &.count2 {
      background-color: black;
    }

    .group {
      display: flex;
      align-items: baseline;
      justify-content: center;
      @include mobile-only {
        margin-bottom: 5px;
      }

      .num {
        font-size: calc-web(55px);
        font-weight: 700;
        line-height: calc-web(81.51px);
        @include mobile-only {
          font-size: 35px;
          line-height: 51.87px;
        }
      }

      .name {
        font-size: calc-web(30px);
        font-weight: 700;
        line-height: calc-web(43.44px);
        margin-left: 8px;
        @include mobile-only {
          font-size: 16px;
        }
      }
    }

    .btn {
      button {
        border: 1px solid #e53c2b;
        color: #e53c2b;
        width: calc-web(250px);
        font-size: 18px;
        line-height: 26.06px;
        white-space: nowrap;
        padding: 12px 0;
        &:hover {
          color: white;
        }
        @include mobile-only {
          width: 250px;
        }
      }
    }
  }
}

.themeContainer {
  .content {
    position: relative;
    padding: calc-web(70px) 0;
    @include mobile-only {
      padding: 55px 0;
    }
    .title {
      text-align: center;
      color: white;
      margin-bottom: calc-web(50px);
      @include mobile-only {
        margin-bottom: 50px;
      }
    }

    .cardList {
      display: flex;
      margin-bottom: calc-web(45px);
      > * {
        width: 33.33333%;
      }
      > * + * {
        margin-left: calc-web(40px);
      }
      @include mobile-only {
        display: block;
        margin-bottom: 40px;
        > * {
          width: 100%;
        }
        > * + * {
          margin-left: 0;
          margin-top: 40px;
        }
      }
    }

    .btn {
      display: block;
      text-align: center;
      button {
        width: 250px;
        color: white;
        border-color: white;
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.mainContainer {
  background-color: #f2f2f2;
  padding: calc-web(80px) 0 0;
  .artTypeContainer {

    // 20240318
    // margin-bottom: calc-web(80px);
    // @include mobile-only {
    //   margin-bottom: 60px;
    // }

    .titleGroup {
      display: flex;
      align-items: center;
      margin-bottom: calc-web(70px);
      @include mobile-only {
        display: block;
        margin-bottom: 60px;
      }
      .title {
        color: #e53c2b;
        width: 50%;
        @include mobile-only {
          margin-bottom: 60px;
          width: 100%;
        }
      }
      .tagList {
        width: 50%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: calc-web(60px);
        @include mobile-only {
          margin-left: 0;
          width: 100%;
        }
        .tag {
          margin-right: 10px;
          margin-bottom: 10px;
          background-color: white;
          border-radius: 10px;
          padding: 10px;
          font-size: 20px;
          white-space: nowrap;
        }
      }
    }
  }

  .artTagsContainer {
    position: relative;
    padding-bottom: calc-web(91px);
    @include mobile-only {
      padding-bottom: 58px;
    }

    .contentContainer {
      position: relative;
      z-index: 1;
      .artTagsContent {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-left: calc(-40 * 100vw / 1920);
        @include mobile-only {
          margin-left: -10px;
        }

        // margin-right: -40px;
        // margin-bottom: -40px;

        .titleGroup {
          margin-right: calc-web(427px);
          margin-left: calc-web(40px);
          @include mobile-only {
            width: 100%;
            margin-bottom: 60px;
            margin-right: 0;
          }
          .title2 {
            font-size: calc-web(24px);
            line-height: calc-web(33px);
            font-weight: bold;
            @include mobile-only {
              font-size: 17px;
              line-height: 33px;
            }
          }
          .title {
            color: #e53c2b;
          }
        }

        .tag {
          margin-bottom: calc-web(40px);
          padding: calc-web(20px);
          background-color: white;
          border-radius: 10px;
          width: calc-web(177px);
          height: calc-web(177px);
          background-image: url("/images/futureBG.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          display: flex;
          flex-direction: column;
          @include mobile-only {
            width: initial;
            height: initial;
            display: flex;
            align-items: center;
            flex-direction: row;
            white-space: nowrap;
            padding: 18px;
            margin-left: 10px;
            margin-bottom: 10px;
          }
          .icon {
            color: #e53c2b;
            font-size: calc-web(45px);
            line-height: calc-web(33px);
            font-weight: bold;
            @include mobile-only {
              margin-right: 8px;
              font-size: 45px;
              line-height: 33px;
            }
          }
          .name {
            font-weight: bold;
            font-size: calc-web(24px);
            line-height: calc-web(33px);
            margin-top: auto;
            @include mobile-only {
              font-size: 24px;
              line-height: 33px;
            }
          }
        }

        .tag + .tag {
          margin-left: calc-web(40px);
          @include mobile-only {
            margin-left: 10px;
          }
        }

        .btn {
          @include mobile-only {
            width: 100%;
            margin-top: 38px;
            text-align: center;
          }
          button {
            color: white;
            border-color: white;
            font-size: calc-web(18px);
            width: calc-web(250px);
            padding: 15px 0;

            position: relative;
            left: 30px;
            top: 30px;
            @include mobile-only {
              font-size: 18px;
              width: 250px;
              left: auto;
              top: auto;
            }
          }
        }
      }
    }
  }
}

.partnerContainer {
  background-image: url("/images/partnerBG.png");
  background-position: center;
  background-repeat: no-repeat;
  //   background-size: 100% 100%;
  background-size: cover;
  width: 100%;
  padding: calc-web(133px) 0;

  @include mobile-only {
    padding: 100px 0;
  }

  .content {
    width: 614px;
    background-color: black;
    border-radius: 10px;
    padding: calc-web(40px) calc-web(65px);
    margin: 0 auto;
    @include mobile-only {
      width: 95%;
      max-width: 614px;
      padding: 35px 12px 40px;
    }
    .title {
      color: #e53c2b;
      margin-bottom: 15px;
      text-align: center;
    }
    .desc {
      color: white;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 30px;
      @include mobile-only {
        font-size: 17px;
      }
    }
    .btn {
      text-align: center;
      display: block;
      button {
        color: #e53c2b;
        border-color: #e53c2b;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.listContainer {
  background-color: #f2f2f2;
  padding: calc-web(110px) 0;
  .listBg + .listBg {
    margin-top: calc-web(142px);
    @include mobile-only {
      margin-top: 64px;
    }
  }

  .titleGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc-web(50px);
    @include mobile-only {
      display: block;
      margin-bottom: 60px;
    }

    .title {
      margin-bottom: 0;
      @include mobile-only {
        display: block;
        margin-bottom: 25px;
      }
    }

    .btnGroup {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-bottom: -25px;

      .btn {
        &.selected {
          button {
            color: white;
            background-color: #e53c2b;
            border-color: transparent;
          }
        }
        button {
          width: 160px;
          background-color: white;
          color: #a7a7a7;
          border-color: #a7a7a7;
          padding: 7px 0;
          font-size: 18px;
          margin-right: 15px;
          margin-bottom: 20px;
          &:hover {
            color: white;
            border-color: transparent;
          }
        }
      }
    }
  }
  .title {
    margin-bottom: calc-web(50px);
    @include mobile-only {
      margin-bottom: 40;
    }
  }

  .list {
    display: flex;
    @include mobile-only {
      flex-direction: column;
      align-items: center;
    }
    > * + * {
      margin-left: calc-web(40px);
    }
    @include mobile-only {
      > * + * {
        margin-left: 0;
        margin-top: 40px;
      }
    }

    .industryCard {
      background-image: url("/images/cardBG.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
      display: flex;
      flex-direction: column;
      padding: calc-web(80px) calc-web(35px) calc-web(22px);
      @include mobile-only {
        padding: 90px 25px 24px;
        width: 335px;
      }
      .industryTitle {
        font-size: calc-web(50px);
        font-weight: bold;
        line-height: calc-web(65px);
        text-align: center;
        margin-bottom: calc-web(106px);
        @include mobile-only {
          font-size: 35px;
          margin-bottom: 80px;
        }
      }

      .desc {
        font-size: calc-web(20px);
        font-weight: bold;
        @include mobile-only {
          margin-bottom: 92px;
          font-size: 20px;
        }
      }

      .view {
        color: #e53c2b;
        font-weight: bold;
        font-size: calc-web(20px);
        margin-top: auto;
        text-decoration: underline;
        @include mobile-only {
          font-size: 20px;
        }
      }
    }
  }

  .more {
    text-align: center;
    width: 100%;
    margin-top: calc-web(45px);
    display: block;
    @include mobile-only {
      margin-top: 40px;
    }
    button {
      width: 250px;
    }
  }
}

.mainTitle {
  font-size: calc-web(55px);
  font-weight: 700;
  line-height: calc-web(79.64px);
  @include mobile-only {
    font-size: 35px;
    line-height: 50.68px;
  }
}

.whoweare {
  // height: calc-web(907px);
  position: relative;
  @include mobile-only {
    min-height: 92vh;
  }
  @include pad-portrait {
    max-height: 600px;
    min-height: 48vh;
  }

  .whoweareInner {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;

    @include mobile-only {
      min-height: 92vh;
    }

    @include pad-portrait {
      max-height: 600px;
      min-height: 48vh;
    }

    > h2 {
      // position: absolute;
      margin-top: calc-web(179px);
      margin-left: calc-web(471px);
      font-size: calc-web(110px);
      position: relative;

      @include mobile-only {
        margin-left: 20px;
        margin-top: 102px;
        font-size: 35px;
      }
    }

    > h2::before {
      //   content: "00.";
      content: "";
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: calc-web(51px);
      position: absolute;
      left: calc-web-n(-66px);
      top: calc-web-n(-28px);

      @include mobile-only {
        font-size: 22px;
        left: 0px;
        top: -35px;
      }
    }

    > p {
      // position: absolute;
      width: calc-web(800px);
      margin-top: calc-web(122px);
      margin-left: calc-web(644px);
      min-height: calc-web(270px);

      font-family: "Noto Sans TC";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 210%;
      color: #353435;

      @include mobile-only {
        margin-top: 38px;
        margin-left: 20px;
        width: initial;
        margin-right: 20px;
        font-size: 15px;
      }
    }

    > button {
      margin-top: calc-web(29px);
      margin-left: calc-web(644px);
      margin-bottom: calc-web(142px);

      @include mobile-only {
        margin-left: 20px;
        margin-top: 28px;
      }
    }
  }

  .whoweareIcon {
    position: absolute;
    top: calc-web(83px);
    right: calc-web(144px);
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 500;
    font-size: 14px;

    @include mobile-only {
      display: none;
    }
  }
}

.pbg {
  position: relative;
  height: 0px;
}

.bgA {
  position: absolute;
  top: calc-web-n(-500px);
  right: 0;
  z-index: -1;
  width: calc-web(710px);
  height: calc-web(1240px);

  @include mobile-only {
    top: calc-web-n(-1000px);
    width: 200px;
    height: 400px;
  }

  @include pad-portrait {
    width: calc-web(660px);
    top: calc-web-n(-350px);
  }
}

.bgBox {
  position: absolute;
  right: 0;
  // top: calc-web(700px);
  top: calc-web-n(-30px);
  z-index: -1;
  width: calc-web(810px);
  height: calc-web(450px);

  @include mobile-only {
    top: calc-web-n(-350px);
    width: 200px;
    height: 200px;
  }

  @include pad-portrait {
    // width: 364px;
    // top: calc(-100px);
    width: calc-web(860px);
    top: calc-web-n(100px);
  }
}

.sectionHeader {
  padding-left: calc-web(68px);
  padding-right: calc-web(103px);
  color: #353435;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 210%;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc-web(41px);

  @include mobile-only {
    font-size: 17px;

    padding-left: 20px;
    margin-bottom: 25px;
  }
}

.scrollboxOuter {
  @include not-mobile {
    padding-bottom: calc-web(100px);

    &::-webkit-scrollbar {
      display: block;
      height: calc-web(50px);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      // border-bottom: 1px solid #e1e0e1;
    }

    &::-webkit-scrollbar-thumb {
      border-bottom: 5px solid #9e9e9e;
      border-right: none;
      border-left: none;
      transition: border-bottom-color 0.24s ease;

      &:hover {
        border-bottom: 5px solid #b7b7b7;
      }
    }

    &::-webkit-scrollbar-track-piece:start {
      background: transparent;
      margin-left: 20vw;
    }

    &::-webkit-scrollbar-track-piece:end {
      background: transparent;
      margin-right: 20vw;
    }
  }

  @include mobile-only {
    padding-bottom: 37px;
  }
}

.scrollboxInner {
  > div {
    margin-right: calc-web(50px);

    @include mobile-only {
      margin-right: 14px;
    }
  }

  > div:first-child {
    margin-left: calc-web(58px);

    @include mobile-only {
      margin-left: 20px;
    }
  }
}

.scrollbox {
  position: relative;
  display: flex;

  overflow-x: scroll;
  padding-bottom: calc-web(50px);

  > div {
    flex: none;
    margin-right: calc-web(50px);
  }

  > div:first-child {
    margin-left: calc-web(58px);
  }

  @include not-mobile {
    &::-webkit-scrollbar {
      display: block;
      height: calc-web(50px);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      // border-bottom: 1px solid #e1e0e1;
    }

    &::-webkit-scrollbar-thumb {
      border-bottom: 5px solid #9e9e9e;
      border-right: none;
      border-left: none;

      &:hover {
        border-bottom: 5px solid #353435;
      }
    }

    &::-webkit-scrollbar-track-piece:start {
      background: transparent;
      margin-left: 20vw;
    }

    &::-webkit-scrollbar-track-piece:end {
      background: transparent;
      margin-right: 20vw;
    }
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 20vw;
  //   right: 20vw;
  //   background: #666;
  //   height: 1px;
  //   bottom: 0px;
  // }
}

.scrollbox .news {
  > div {
    margin-right: calc-web(32px);

    @include mobile-only {
      margin-right: 14px;
    }
  }

  > div:first-child {
    margin-left: calc-web(58px);

    @include mobile-only {
      margin-left: 20px;
    }
  }
}

.scrollLine {
  // left: 20vw;
  // right: 20vw;
  background: #e1e0e1;
  width: 60vw;
  height: 1px;
  margin-left: 20vw;
  // bottom: 0px;
  margin-bottom: calc-web(88px);

  @include mobile-only {
    display: none;
  }
}

.videoSection {
  padding-bottom: calc-web(139px);

  @include mobile-only {
    padding-bottom: 88px;
  }
}
