.categoryList {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 20px;
    background-color: #FAFAFA;
    @include mobile-only {
        overflow-x: auto;
        justify-content: flex-start;
    }
    button {
        padding: 9px 32px;
        font-size: 18px;
        color: #A7A7A7;
        border-color: #A7A7A7;
        @include mobile-only {
            width: 140px;
            min-width: 140px;
        }
    }
    a + a {
        margin-left: 20px;
    }
}

.filter {
    width: 260px;

    @include mobile-only {
        width: 335px;
        margin: 0 auto;
    }

    @include pad-portrait {
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        color: #353435;
        margin-bottom: 29px;

        >div {
            display: flex;
            flex-direction: row;
            align-items: center;

            &:first-child {
                flex: 1;

                >svg {
                    margin-right: 11px;
                }
            }

            &:last-child {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #e63c2b;
            }
        }
    }

    .optionHeader {
        display: flex;
        align-items: center;
        height: 54px;

        border-top: 2px solid #353435;
        border-bottom: 2px solid #353435;

        margin-bottom: 18px;

        >div:first-child {
            flex: 1;
        }

        cursor: pointer;
    }

    .filterContnet {
        input[type="checkbox"] {
            opacity: 0;
            width: 0px;
        }

        label {
            position: relative;
            padding-left: 36px;
            line-height: 40px;
            cursor: pointer;
        }

        label::before {
            content: "";
            position: absolute;
            left: 0px;
            top: -1px;
            width: 25px;
            height: 25px;
            border: 2px solid #f2f2f2;
            border-radius: 8px;
            cursor: pointer;
        }

        input[type="checkbox"]:checked+label::before {
            background-color: #e63c2b;
            border: 2px solid #ff0000;
        }

        .filterContnet {
            margin-left: 40px;
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    gap: calc-web(82px);

    margin-top: 85px;

    @include mobile-only {
        flex-direction: column;
    }

    .contentInner {
        width: 100%;
        margin-bottom: 40px;

        .count {
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 210%;
            /* identical to box height, or 42px */

            text-align: right;

            color: #353435;
            margin-bottom: 33px;

            @include mobile-only {
                width: 335px;
                margin: 0 auto;
            }

            @include pad-portrait {
                width: calc(100% - 40px);

            }
        }

        .loading {
            margin: 30px 0px;
            text-align: center;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: calc-web(31px);
            row-gap: calc-web(80px);

            @include mobile-only {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 40px;
            }

            @include pad-portrait {
                display: inline-flex;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: flex-start;
                width: 100%;
                flex-direction: row;
                margin: 20px 0 40px;
                // margin: 0 auto;
            }
        }
    }
}

.paginate {
    padding: 32px 0px;
    background: #f2f2f2;
    border-radius: 10px;

    margin-bottom: 124px;
}

.lightbox {
    width: 683px;

    margin-top: calc(97px - 24px);
    margin-bottom: calc(97px - 24px);
    margin-left: calc(84px - 24px);

    @include mobile-only {
        width: auto;
        margin-top: calc(21px - 24px);
        margin-bottom: calc(21px - 24px);
        margin-left: calc(21px - 24px);
        margin-right: calc(21px - 24px);
    }

    .header {
        display: flex;
        flex-direction: row;

        @include mobile-only {
            flex-direction: column;
        }

        >div:first-child {
            img {
                width: 407px;

                @include mobile-only {
                    width: 100%;
                }
            }

            margin-right: 60px;

            @include mobile-only {
                margin-right: 0px;
            }
        }

        >div:last-child {
            padding-top: 16px;
            padding-bottom: 16px;
            width: 216px;

            @include mobile-only {
                width: auto;
                padding-top: 16px;
                padding-bottom: 0px;
            }

            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 22px;
                /* identical to box height, or 110% */

                color: #353435;
                margin-top: 17px;
                margin-bottom: 3px;
            }

            .subTitle {
                font-family: "Noto Sans TC";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height */

                color: #353435;
            }

            .date {
                margin-top: 12px;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.05em;

                color: #989898;
            }

            >a {
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height */

                text-decoration-line: underline;

                color: #353435;

                svg {
                    //   width: 14px;
                    //   height: 20px;
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                }
            }

            >.tag {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #e53c2b;
                min-width: 80px;
                padding-left: 10px;
                padding-right: 10px;

                height: 22px;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 100%;
                /* or 31px */

                text-align: center;

                color: #e53c2b;

                border: 1px solid #e53c2b;
                margin-right: 12px;

                margin-top: 8px;
            }
        }
    }

    .features {
        margin-top: 81.6px;
        margin-bottom: 20px;
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        /* or 157% */

        color: #353435;

        @include mobile-only {
            margin-top: 31px;
            margin-bottom: 8px;
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 30px;
            /* or 176% */

            color: #353435;
        }
    }

    .lightboxContent {
        >p {
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;

            @include mobile-only {
                font-family: "Noto Sans TC";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                /* or 187% */

                color: #353435;
            }
        }
    }

    .lightboxAction {
        margin-top: 80px;
        text-align: center;

        @include mobile-only {
            margin-top: 23px;
        }
    }
}

.lightboxClose {
    margin-top: 30px;
    margin-right: 30px;
    color: black;

    @include mobile-only {
        color: white;
        transform: translateY(-80px) translateX(10px);
    }
}

.body {
    @include pad-portrait {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    >.bodyBox {

        @include mobile-only {
            width: auto;
            margin: 0;
        }

        @include pad-portrait {
            position: relative;
            width: 31%;
            margin: 0 1%;
        }

    }
}