.contentContainer {
  width: calc-web-1440(1020px);
  margin: 87px auto 193px;
  min-height: 50px;

  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 32px auto 74px;
  }

  .titleGroup {
    display: flex;
    align-items: center;
    @include mobile-only {
      display: block;
    }
    .title {
      font-size: 50px;
      font-weight: bold;
      white-space: nowrap;
      @include mobile-only {
        font-size: 24px;
      }
    }
    .desc {
      font-size: 15px;
      line-height: 28px;
      margin-left: calc-web-1440(40px);
      @include mobile-only {
        margin-left: 0;
      }
    }
  }

  .form {
    margin-top: calc-web-1440(104px);
    @include mobile-only {
      margin-top: 15px;
    }
    .privacy {
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 25px;
      margin-top: 45px;
    }

    .btnGroup {
      display: flex;
      align-items: center;
      margin-top: 60px;
      @include mobile-only {
        flex-direction: column-reverse;
        margin-top: 50px;
      }

      button {
        width: 100%;
        &:first-child {
          color: #c4c4c4;
          border-color: #c4c4c4;
          &:hover {
            color: white;
          }
        }
      }

      button + button {
        margin-left: 40px;
        @include mobile-only {
          margin-left: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .postedPage {
    margin-top: calc-web-1440(60px);
    @include mobile-only {
      margin-top: 31px;
    }
    .postBtn {
      text-align: center;
      margin-bottom: calc-web-1440(44px);
      @include mobile-only {
        margin-bottom: 65px;
      }
      button {
        svg {
          margin-right: 10px;
          transform: translateY(3px);
        }
      }
    }

    .postList {
      background-color: #f8f8f8;
      border-radius: 10px;
      padding: 40px 34px;
      .post {
        display: flex;
        align-items: center;
        @include mobile-only {
          flex-wrap: wrap;
        }
        .time {
          font-size: 13px;
          color: #888888;
        }
        .category {
          margin-left: 25px;
          color: #e53c2b;
        }
        .title {
          margin-left: 32px;
          line-height: 30px;
          @include mobile-only {
            margin-left: 0;
            margin-top: 20px;
            order: 4;
            width: 100%;
            display: flex;
          }
        }
        .status {
          padding: 0px 14px;
          width: 67px;
          text-align: center;
          margin-left: auto;
          font-size: 13px;
          white-space: nowrap;
          &.status1 {
            border: 1px solid #666666;
            color: #666666;
          }
          &.status2 {
            background-color: #47be7d;
            color: white;
          }
        }
        .link {
          margin-left: 13px;
          min-width: 18px;
        }
      }

      .post + .post {
        border-top: 1px solid #dddddd;
        margin-top: 17px;
        padding-top: 17px;
      }
    }
  }
}
