.section1 {
  display: flex;
  flex-direction: row;
  height: calc-web-1440(810px);
  align-items: center;

  @include mobile-only {
    flex-direction: column-reverse;
    height: auto;
    align-items: flex-start;
    margin-bottom: 89px;
  }

  > div {
    flex: 1;
    .joinBig {
      width: calc-web-1440(660.36px);
      height: calc-web-1440(530px);
      @include mobile-only {
        width: 425px;
        height: 341.11px;
        flex: none;
        transform: translateX(-23px);
      }
    }

    > h3 {
      font-style: normal;
      font-weight: bold;
      font-size: calc-web-1440(50px);
      line-height: calc-web-1440(70px);
      /* or 140% */
      padding-right: 30px;

      color: #000000;
      margin-bottom: calc-web-1440(16px);
      @include mobile-only {
        font-size: 35px;
        line-height: 105%;
        margin-bottom: 30px;
      }
    }
    .desc {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      color: #000000;

      width: calc-web(558px);
      @include mobile-only {
        width: auto;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 165%;
      }
    }

    &:first-child {
      padding-right: calc-web(88px);

      text-align: right;

      @include mobile-only {
        padding-right: 0px;
        text-align: center;
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &:last-child {
      padding-left: calc-web(59px);
      @include mobile-only {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 42px;
      }
    }
  }
}

.section2 {
  @include fix-desktop-margin("padding-left");
  @include fix-desktop-margin("padding-right");

  @include mobile-only {
    margin-left: 20px;
    margin-right: 20px;
  }
  > h3 {
    font-style: normal;
    font-weight: bold;
    font-size: calc-web-1440(50px);
    line-height: calc-web-1440(70px);
    color: #000000;
    margin-bottom: calc-web-1440(16px);
    margin-top: calc-web-1440(97px);

    @include mobile-only {
      font-size: 35px;
      line-height: 105%;
      margin-bottom: 30px;
    }
  }
  > p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

    @include mobile-only {
      font-size: 15px;
      line-height: 165%;
    }
  }
  > .stepImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: calc-web-1440(95px);
    margin-bottom: calc-web-1440(40px);

    @include mobile-only {
      margin-top: 60px;
      margin-bottom: 20px;
      flex-direction: column;
    }

    .stepWraper {
      display: flex;
      position: relative;

      > div {
        position: absolute;
        bottom: 20%;
        left: 7%;
        right: 7%;
        text-align: center;
        font-size: calc-web-1440(22px);
        @include mobile-only {
          font-size: 22px;
        }
      }
    }

    .step {
      width: calc-web-1440(250px);
      height: calc-web-1440(332px);

      @include mobile-only {
        width: 250px;
        height: 332px;
      }
    }
    .arrow {
      width: calc-web-1440(33px);
      height: calc-web-1440(15px);

      @include mobile-only {
        width: 43.75px;
        height: 20px;
        transform: rotate(90deg);
        margin-top: 52px;
        margin-bottom: 34px;
      }
    }
  }
  .desc {
    @include mobile-only {
      width: 250px;
      margin: 0px auto;
    }
    > a {
      color: #fe3b1f;
      text-decoration: underline;
      &:hover {
        color: $main-color;
      }
    }
  }
  .joinActionContainer {
    margin-top: calc-web-1440(150px);
    margin-bottom: calc-web-1440(150px);

    @include mobile-only {
      margin-top: 60px;
      margin-bottom: 65px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    .joinAction {
      width: 430px;
      font-size: 15px;
      line-height: 22px;

      @include mobile-only {
        width: 100%;
      }

      color: #353435;
      > button {
        margin-top: 12px;
        width: 100%;
      }
    }
  }
}
