.contentContainer {
    width: calc-web-1440(1020px);
    margin: 0px auto;
    // background-color: red;
    min-height: 50px;

    @include mobile-only {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title {
        font-size: 50px;
        line-height: 74px;
        /* identical to box height */
        font-style: normal;
        font-weight: normal;
        text-align: center;

        color: #000000;
        margin-top: 67px;
        margin-bottom: 32px;

        @include mobile-only {
            font-size: 22px;
            line-height: 33px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.formItemBlock {
    margin-bottom: 60px;

    @include mobile-only {
        margin-bottom: 40px;
    }
}

.formItemBlock1 {
    margin-bottom: 35px;

    @include mobile-only {
        margin-bottom: 20px;
    }
}

.notice {
    >span {
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid #e63c2b;
        color: #e63c2b;
        margin-right: 10px;
    }
}

.noticeCheck {
    margin-top: calc-web-1440(62px);
    margin-bottom: calc-web-1440(62px);

    @include mobile-only {
        margin-top: 41px;
        margin-bottom: 40px;
    }
}

.radioGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 125px;
    grid-row-gap: 40px;

    @include mobile-only {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25px;
    }
}

.checkboxGroup {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 125px;
    grid-row-gap: 40px;

    @include mobile-only {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25px;
    }
}

.inputWithRadioGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    @include mobile-only {
        flex-direction: column;
        gap: 0px;

        >*:first-child {
            margin-bottom: 0px;
        }

        >* {
            width: 100%;
        }

        >*:last-child {
            >div:first-child {
                // display: none;
            }
        }
    }

    *:first-child {
        flex: 1;
    }
}

.inputGroupConoact {
    display: flex !important;
    flex-direction: row;
}

.actionButtonGroup {
    margin-top: 60px;
    margin-bottom: 150px;

    @include mobile-only {
        margin-top: 29px;
        margin-bottom: 65px;
    }
}

.actionButton {
    width: 100%;

    @include mobile-only {
        margin-bottom: 14px;
    }
}

.avaterUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 69px;
    margin-top: 42px;
    text-align: center;

    @include mobile-only {
        margin-bottom: 45px;
        margin-top: 43px;
    }

    .uploadDefaultGroup {
        position: relative;
        height: 100%;
        width: 100%;

        .iconUpload {
            position: absolute;
            top: -11px;
            right: -13px;
        }

        margin-bottom: 0px;
    }

    .qusetion {
        display: flex;
        justify-content: center;
    }
}

.qusetion {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    line-height: 30px;

    @include mobile-only {
        font-size: 13px;
        line-height: 20px;
    }

    >svg {
        margin-right: 6px;
    }
}

.sectionSeccuess {
    @include not-mobile {
        height: auto;
        margin-top: 65px;
        margin-bottom: 150px;
    }

    >div {
        .successIcon {
            width: calc-web-1440(575.42px);
            height: calc-web-1440(471.51px);

            @include mobile-only {
                width: 392.96px;
                height: 322px;
                flex: none;
                transform: translateX(-23px);
            }
        }
    }

    .desc {
        white-space: pre-line;
    }
}

.steps {
    margin-top: calc-web-1440(82px);
    margin-bottom: calc-web-1440(42px);
    margin-left: auto;
    margin-right: auto;
    // display: block;
    width: calc-web-1440(1000px);
    // height: calc-web-1440(100px);

    @include mobile-only {
        width: 340px;
        // height: 64px;
        margin-top: 40px;
        margin-bottom: 20px;
        
    }
}

.checkForm {
    margin-top: 55px;
    margin-bottom: 95px;

    @include mobile-only {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    a {
        color: #e63c2b;
        text-decoration: underline;
    }

    >hr {
        border-top: 1px solid #c4c4c4;
    }

    >hr:first-child {
        margin-bottom: 15px;
    }

    >label {
        margin-bottom: 10px;
    }

    >hr:last-child {
        margin-top: 20px;

        @include mobile-only {
            margin-top: 10px;
        }
    }
}