.lightbox {
  position: relative;

  margin: 10px;
  // width: 1078px;
  @include mobile-only {
    // width: calc(100vw - 82px);
    height: 100%;
  }
}
.lightbox-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox-title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
.lightbox-content {
  position: relative;
  // background-color: #f4f4f4;
  background-color: transparent;
  border: none;
  // border-radius: 25px;
  border-radius: 0px;
  background-clip: padding-box;
  @include mobile-only {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.lightbox-close {
  cursor: pointer;
  border: 0;
  background: transparent;
  position: absolute;
  right: 36px;
  top: -24px - 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  // text-shadow: 0 1px 0 #fff;
  // filter: alpha(opacity=20);
  // opacity: 0.2;
  text-decoration: none;

  @include mobile-only {
    top: 22px;
    right: calc(16px - 41px);
  }
}
.lightbox-close-x:after {
  // content: "×";
}
.lightbox-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.lightbox-header {
  padding: 13px 20px 14px 20px;
  border-radius: 5px 5px 0 0;
  background: #fff;
  color: #666;
  border-bottom: 1px solid #e9e9e9;
}
.lightbox-body {
  padding: 0px;
}
.lightbox-footer {
  border-top: 1px solid #e9e9e9;
  padding: 10px 20px;
  text-align: right;
  border-radius: 0 0 5px 5px;
}
.lightbox-zoom-enter,
.lightbox-zoom-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
.lightbox-zoom-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
.lightbox-zoom-enter.lightbox-zoom-enter-active,
.lightbox-zoom-appear.lightbox-zoom-appear-active {
  animation-name: rcDialogZoomIn;
  animation-play-state: running;
}
.lightbox-zoom-leave.lightbox-zoom-leave-active {
  animation-name: rcDialogZoomOut;
  animation-play-state: running;
}
@keyframes rcDialogZoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes rcDialogZoomOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

// @media (min-width: 768px) {
//   .lightbox {
//     // width: 600px;
//     margin: 30px auto;
//   }
// }

.lightbox-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // background-color: #373737;
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  filter: alpha(opacity=50);
  z-index: 1050;
}
.lightbox-mask-hidden {
  display: none;
}
.lightbox-fade-enter,
.lightbox-fade-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.lightbox-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.lightbox-fade-enter.lightbox-fade-enter-active,
.lightbox-fade-appear.lightbox-fade-appear-active {
  animation-name: rcDialogFadeIn;
  animation-play-state: running;
}
.lightbox-fade-leave.lightbox-fade-leave-active {
  animation-name: rcDialogFadeOut;
  animation-play-state: running;
}
@keyframes rcDialogFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rcDialogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lightbox-slide-fade-enter,
.lightbox-slide-fade-appear {
  transform: translate(0, -25%);
}

.lightbox-slide-fade-enter,
.lightbox-slide-fade-appear,
.lightbox-slide-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-play-state: paused;
}

.lightbox-slide-fade-enter.lightbox-slide-fade-enter-active,
.lightbox-slide-fade-appear.lightbox-slide-fade-appear-active {
  animation-name: rcDialogSlideFadeIn;
  animation-play-state: running;
}

.lightbox-slide-fade-leave.lightbox-slide-fade-leave-active {
  animation-name: rcDialogSlideFadeOut;
  animation-play-state: running;
}

@keyframes rcDialogSlideFadeIn {
  0% {
    transform: translate(0, -25%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rcDialogSlideFadeOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -25%);
  }
}
