.contentContainer {
  width: calc-web-1440(1020px);
  margin: 87px auto 193px;
  min-height: 50px;

  @include pad-landscape {
    width: 90%;
  }

  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 32px auto 74px;
  }

  .titleGroup {
    display: flex;
    align-items: center;
    margin-bottom: calc-web-1440(86px);
    @include mobile-only {
      display: block;
    }
    .title {
      font-size: 50px;
      font-weight: bold;
      white-space: nowrap;
      @include mobile-only {
        font-size: 24px;
      }
    }
    .desc {
      font-size: 15px;
      margin-left: calc-web-1440(40px);
      @include mobile-only {
        margin-left: 0;
      }
    }
  }

  .submit {
    margin: calc-web-1440(100px) auto 0;
    max-width: 430px;
    button {
      width: 100%;
    }
  }
}

.checkboxGroup {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 125px;
  grid-row-gap: 20px;

  @include mobile-only {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
  }

  .otherInput {
    position: absolute;
    width: 100%;
    bottom: -5px;
    width: 50%;
    left: 100px;
    margin-bottom: 0;
  }
}
