.contentContainer {
  width: 880px;
  margin: 0px auto;

  @include mobile-only {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 60px;

    @include mobile-only {
      display: block;
      margin: 35px 0 45px;
    }
    .titleBlock {
      .title1 {
        font-size: 22px;
        @include mobile-only {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }

      .title2 {
        font-size: 32px;
        font-weight: bold;
        @include mobile-only {
          font-size: 30px;
        }
      }
    }

    .email {
      background-color: #f2f2f2;
      font-size: 17px;
      text-align: center;
      padding: 25px 45px;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include mobile-only {
        font-size: 18px;
        padding: 20px;
      }
      svg {
        margin-left: calc-web-1440(30px);
        margin-right: calc-web-1440(5px);
      }
    }
  }

  .menuContainer {
    border-radius: 10px;
    .menuTitle {
      margin-bottom: 20px;
      @include mobile-only {
        margin-bottom: 10px;
      }
    }

    .menuContent {
      background-color: #f8f8f8;
      padding: 20px 28px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        &.account {
            color: #e53c2b;
          }
      }
      &.account {
        font-size: 18px;
        text-decoration: underline;
      }

      @include mobile-only {
        display: block;
      }
      .first {
        width: calc(80% - 55px);
        @include mobile-only {
          width: 100%;
          margin-bottom: 15px;
        }
      }


      .last {
        width: 50%;
        display: flex;
        align-items: center;
        @include mobile-only {
          width: 100%;
          flex-wrap: wrap;
        }

        .statusContainer {
          width: 30%;
          position: relative;

          .status {
            padding: 0px 8px;
            border: 1px solid gray;
            text-align: center;
            white-space: nowrap;
            &.status1 {
              border: 1px solid #47be7d;
              color: #47be7d;
            }

            &.status2 {
              border: 1px solid #e53c2b;
              color: #e53c2b;
            }

            &.status3 {
              border: 1px solid #666666;
              color: #666666;
            }

            &.status4 {
              border: 1px solid #666666;
              color: #666666;
            }

            &.status6 {
              border: 1px solid #666666;
              color: #666666;
            }

            &.status7 {
              border: 1px solid #47be7d;
              color: #47be7d;
            }

            &.status8 {
              border: 1px solid #e53c2b;
              color: #e53c2b;
            }
          }

          svg {
            position: absolute;
            right: -35px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .time {
          width: 68%;
          text-align: center;
          @include mobile-only {
            width: 70%;
            text-align: right;
          }
        }

        .more {
          transform: rotate(90deg);
          cursor: pointer;
          margin-left: auto;
          @include mobile-only {
            transform: rotate(0deg);
            display: flex;
            align-items: center;
            margin-top: 20px;
            svg + svg {
              margin-left: 30px;
            }
          }
        }
      }
      .mainTitle {
        font-size: 22px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        @include mobile-only {
          overflow: initial;
          text-overflow:initial;
          white-space: initial;
        }
      }
      .subTitle {
        font-size: 13px;
        color: #888888;
      }
    }

    .menuContent + .menuContent {
      border-top: 1px solid #DDDDDD;
    }
  }

  .title {
    font-size: 18px;
    width: calc(100% - 30px);
  }

  .menuContent {
    background-color: #f8f8f8;
    padding: 20px 28px;
    border-radius: 10px;
    font-size: 13px;
    .mainTitle {
      font-size: 15px;
    }
    .subTitle {
      font-size: 13px;
      color: #888888;
    }
    .status {
      padding: 0px 8px;
      border: 1px solid gray;
      width: auto;
      text-align: center;
      &.status1 {
        border: 1px solid #47BE7D;
        color: #47BE7D;
      }

      &.status2 {
        border: 1px solid #E53C2B;
        color: #E53C2B;
      }

      &.status3 {
        border: 1px solid #666666;
        color: #666666;
      }

      &.status4 {
        border: 1px solid #666666;
        color: #666666;
      }

      &.status6 {
        border: 1px solid #666666;
        color: #666666;
      }

      &.status7 {
        border: 1px solid #47BE7D;
        color: #47BE7D;
      }

      &.status8 {
        border: 1px solid #E53C2B;
        color: #E53C2B;
      }
    }

    .more {
      transform: rotate(90deg);
      cursor: pointer;
      font-size: 20px;
      line-height: 1;
      margin-top: -10px;
      color: #000;
      
      @include mobile-only {
        transform: rotate(0deg);
        display: flex;
        align-items: center;
        svg + svg {
          margin-left: 15px;
        }
      }
    }
  }

  .addContent {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    @include mobile-only {
      justify-content: flex-end;
    }
    svg {
      margin-right: 5px;
    }
  }

  .menuContainer3 {
    margin: 45px 0 121px;
    @include mobile-only {
      margin: 30px 0 50px;
    }
    .menu {
      display: flex;
      align-items: center;
      background-color: #f8f8f8;
      border-radius: 10px;
      padding: 30px 25px 30px 35px;

      svg {
        &:first-child {
          margin-right: 13px;
        }
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}

.customSubmit {
  //margin: calc-web-1440(165px) 0 calc-web-1440(286px);
  @include mobile-only {
    margin: 32px 0 18px;
  }
}

.submit {
//   width: 430px;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;

  @include mobile-only {
    width: 100%;
  }

  color: #353435;
  > button {
    margin-top: 12px;
    width: 100%;
  }
}

.noticeContainer {
  margin: -24px;
  padding: 60px 20px 40px;
  @include not-mobile {
    padding: 60px 60px 60px 60px;
  }

  .noticeTitle {
    font-size: calc-web-1440(36px);
    line-height: calc-web-1440(60px);
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;

    @include mobile-only {
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .checkboxGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;

    @include mobile-only {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 25px;
    }
  }

  .emailNotice {
    margin-top: 10px;
    color: #999999;
    display: flex;
    font-size: 13px;
    svg {
      margin-right: 6px;
      min-width: 20px;
    }
  }

  .noticeBlock {
    margin-top: 50px;
    font-size: 15px;
    display: flex;
    align-items: flex-start;
    position: relative;

    @include mobile-only {
      margin-top: 35px;
      font-size: 14px;
      display: block;
      position: static;
    }

    .noticeTag {
      color: #e63c2b;
      border: 1px solid #e63c2b;
      padding: 0 5px;
      font-size: 15px;
      white-space: nowrap;
      margin-right: 10px;
    //   position: absolute;
    //   left: -55px;

      @include mobile-only {
        position: static;
        display: inline;
      }
    }

    .noticeContent {
      list-style: decimal;
      padding-left: 20px;
    }
  }

}

.removeLightBox {
  .desc {
    color: red;
  }
  .button1 {
    button {
      color: #999999;
      border-color: #999999;
      &:hover {
        color: white;
      }
    }
  }
  .button2 {
    button {
      color: red;
      border-color: red;
      &:hover {
        color: white;
      }
    }
  }
}
