.pagination {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;

  > li {
    list-style-type: none;
    // display: inline-block;

    width: 36px;
    height: 36px;

    border-radius: 5px;
    border: 1px solid #dcdcdc;
    font-weight: 500;
    font-size: 18x;
    line-height: 22px;

    color: #e53c2b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 6px;

    @include mobile-only {
      margin-left: 5px;
      margin-right: 5px;
    }

    a {
      width: 100%;
    }
    a:focus {
      outline: none;
    }
  }

  .previous,
  .next,
  .break-me {
    background: transparent;
    color: #e53c2b;

    font-size: 20px;
  }
  .previous,
  .next {
    background: #dcdcdc;
  }

  .active {
    color: #e53c2b;
    background: #ffffff;
  }
}
