.container {
  margin: 0px auto;
  width: calc-web-1440(1280px);
  margin-bottom: 120px;

  &::before {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
  }

  @include mobile-only {
    width: calc(100vw - 36px);
    margin-bottom: 84px;

    &::before {
      display: none;
    }
  }
}

.sectionContainer {
  margin: 0px auto;
  width: calc-web-1440(1160px);

  @include mobile-only {
    width: calc(100vw - 36px);
  }
}

.grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  row-gap: 80px;
  column-gap: 100px;

  padding-top: 133px;

  @include mobile-only {
    grid-template-columns: 1fr;
    row-gap: 30px;

    padding-top: 28px;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;

    position: relative;
    .favoriteIcon {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 30px;
      height: 41px;
    }
  }

  .imageContainer {
    @include mobile-only {
      text-align: center;
    }
    > img {
      max-width: 100%;
      border-radius: 20px;
      background: #c4c4c4;

      @include mobile-only {
        width: 196px;
        height: 196px;
        object-fit: cover;
      }
    }
  }
}

.socialContainer {
  border-radius: 20px;
  background: #f2f2f2;
  padding: 40px 50px;
  @include mobile-only {
    padding: 42px 37px;
  }

  .socialGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    @include mobile-only {
      gap: 13px;
    }
  }

  .hr {
    height: 1px;
    background: #dcdcdc;
    margin-top: 20px;
    margin-bottom: 20px;

    @include mobile-only {
      margin-top: 23px;
      margin-bottom: 30px;
    }
  }

  .linkGroup {
    display: flex;
    flex-direction: column;
    gap: 30px;

    > div {
      display: flex;
      flex-direction: row;

      .icon {
        width: 37px;
        flex-shrink: 0;
      }
      > div {
        line-break: anywhere;
      }
    }

    .linkContent.lockedContent{
      display: flex;

    }
    .lockIcon{
      margin-left: 11px;
    }
  }
}

.contentContainer {
  color: #000;

  font-family: "Noto Sans TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 205.556% */
  white-space: pre-line;

  @include mobile-only {
    grid-row-start: 3;

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 186.667% */
  }
}

.hopeSphere {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  > div {
    min-width: 110px;
    min-height: 22px;
    background-color: #e53c2b;
    color: #ffffff;
    border: 1px solid #e53c2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 2px 12px;
    white-space:nowrap;
  }
}

.industry {
  display: flex;
  flex-direction: row;
  gap: 10px;

  > div {
    min-width: 110px;
    min-height: 22px;
    // background-color: #E53C2B;
    color: #e53c2b;
    border: 1px solid #e53c2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 2px 12px;
    white-space:nowrap;
  }
}

.memberList {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  margin-bottom: 120px;

  @include mobile-only {
    margin-bottom: 84px;
  }
}

.memberCardContainer {
  width: 300px;
  height: 420px;
  @include mobile-only {
    width: 340px;
  }
}

.memberCard {
  border-radius: 10px;
  border: 2px solid #ddd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  height: 420px;

  padding: 40px 35px 30px 35px;

  @include mobile-only {
    width: 340px;
    padding: 49px 33px 40px 33px;
  }

  .favoriteIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 28px;
  }

  .memberImgContainer {
    text-align: center;
    > img {
      width: 220px;
      height: 220px;
      border-radius: 220px;

      @include mobile-only {
        width: 200px;
        height: 200px;
      }
    }
  }

  .memberRegistration {
    margin-bottom: 24px;
    @include mobile-only {
      margin-bottom: 19px;
    }
  }
  .memberName {
    > span:nth-child(-n+3) {
      font-family: Oswald;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      margin-right: 7px;
    }
    > span:last-child {
      margin-left: 7px;
      font-family: "Noto Sans TC";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 125% */
    }
  }
}

.title {
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 210%; /* 50.4px */
  margin-bottom: 57px;
}

.previewBtn {
  background-color: white !important;
  color: #e53c2b !important;
  &:hover {
    color: white !important;
  }
}
