.title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 74px;
  /* identical to box height */

  color: #353435;
  margin-top: 195px;

  @include mobile-only {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;

    margin-top: 60px;
  }
}
.itemSearch {
  margin-top: 40px;
}
.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 13px;

  @include mobile-only {
    row-gap: 0;
    flex-direction: column;
  }

  > button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  margin-bottom: 35px;

  margin-top: 35px;
  @include mobile-only {
    margin-top: 0px;
  }

  .filterDroupdownInput {
    // width: 240px;
    // margin-right: 20px;
    // width: 168px;
    width: 48%;

    @include mobile-only {
      width: 100%;
      margin-top: 15px;
      margin-right: 0;
    }

    // @include pad-portrait {
    //   margin-top: 0;
    //   margin-right: 15px;
    // }

    &:last-child {
        width: 100%;
      @include mobile-only {
        margin-right: 0;
      }
    }

    > div {
      margin-left: 15px;
      margin-right: 40px;
    }
  }
}

.table {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: calc-web-1440(134px);
  grid-row-gap: calc-web-1440(105px);

  @include mobile-only {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  // @include pad-portrait {
  //   display: inline-flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  // }

  .categoryItem {
    text-align: center;

    @include mobile-only {
      margin-bottom: 60px;
    }

    // @include pad-portrait {
    //   width: 45%;
    // }

    > h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 29px;
      margin-top: 30px;
    }

    > p {
      font-size: 15px;
      line-height: 22px;
      text-align: left;
      color: #353435;
    }

    > svg {
      width: calc-web-1440(220px);
      height: calc-web-1440(220px);

      @include mobile-only {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
        max-width: 235px;
        max-height: 235px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.join {
  margin-top: 42px;
  margin-bottom: 120px;

  @include mobile-only {
    margin-top: 0px;
    margin-bottom: 56px;
  }
}

.searchInput {
  flex: 1;

  @include mobile-only {
    // max-width: 335px;
    margin-right: 0px;
  }

  input {
    border: 2px solid #d0d0d0;

    // &::placeholder {
    //   color: #ffffff;
    // }

    &:focus,
    &:active {
      border: 2px solid #353435;
    }

    &:hover {
      border: 2px solid #353435;
      // color: #ffffff;
    }
  }
}

.sphere {
  display: inline-flex;
  flex-direction: row;

  align-items: center;
  min-width: 75px;
  margin-right: 15px;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;

  color: #353435;

  border: 0 !important;
  padding: 0;
  margin-right: 5px;

  > dot {
    width: 17px;
    height: 17px;
    border-radius: 8.5px;
    background-color: red;
    display: inline-block;
    margin-right: 7px;
  }
}
.mapView {
  display: flex;
  flex-direction: row;
//   margin: 60px 0;
  @include mobile-only {
    flex-direction: column;
  }

  .mapFilter {
    // width: calc-web-1440(440px);
    width: 400px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;

    height: 820px;

    @include mobile-only {
      width: 100%;
      height: auto;
    }

    .itemList {
      flex: 1;
      // background-color: red;

      @include mobile-only {
        height: 320px;
        max-height: 320px;
      }
      margin-bottom: 63px;
      overflow-y: scroll;

      .item {
        font-size: 22px;
        line-height: 1.3;
        // padding-left: 22px;
        // padding-right: 22px;
        padding: 10px 22px;
        cursor: pointer;

        &:hover,
        &.focus {
          background-color: #ffff;
          color: #e63c2b;
        }
      }
    }
  }
}
.contentDisplay {
  position: relative;
  flex: 1;

  .professionalsCard {
    position: absolute;
    top: 80px;
    left: calc(50% - 245px);
    width: 490px;
    z-index: 3;

    @include mobile-only {
      width: 350px;
      // top: 140px;
      left: calc(50% - 175px);
      // position: fixed;
      top: -240px;
      position: absolute;
    }

    // @include pad-portrait {
    //   top: 0;
    //   position: absolute;
    // }
  }

  .globe {
    @include mobile-only {
      display: none;
    }
  }
  .grid {
    display: none;

    // display: grid;
    // grid-template-columns: repeat(4, 290px);
    // justify-content: space-between;

    @include mobile-only {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 45px auto;
    }


    > div + div {
      @include mobile-only {
        margin: 20px 0;
      }

    }

  }
}
