.mainTitle {
  font-weight: bold;
  font-size: calc-web-1440(55px);
  color: #e53c2b;
  margin-bottom: calc-web-1440(55px);
  @include mobile-only {
    font-size: 35px;
    margin-bottom: 60px;
    text-align: left !important;
  }
}

.categoryList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 20px;
  background-color: #fafafa;
  @include mobile-only {
    overflow-x: auto;
    justify-content: flex-start;
  }
  button {
    padding: 9px 32px;
    font-size: 18px;
    color: #a7a7a7;
    border-color: #a7a7a7;

    @include mobile-only {
      width: 140px;
      min-width: 140px;
    }
  }
  a + a {
    margin-left: 20px;
  }
}

.list1 {
  background-color: #fafafa;
  .mainTitle {
    text-align: center;
  }
}

.list2 {
  background-color: #f2f2f2;
  padding: 60px 0 0;
}

.list3 {
  background-color: #f2f2f2;
  padding: 60px 0 0;
}
