.contentContainer {
  width: calc-web-1440(1020px);
  margin: 87px auto 193px;
  min-height: 50px;

  @include mobile-only {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 32px auto 0;
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .desc {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
    white-space: pre-line;
  }

  .btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    button {
      max-width: 300px;
      width: 100%;
      padding-top: 17px;
      padding-bottom: 17px;
    }
    button + button {
      margin-top: 18px;
    }
  }

  .form {
    .formTitle {
      margin-bottom: 35px;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
    }

    .formBtnGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 64px 0 94px;
      button {
        width: 100%;
        max-width: 300px;
        padding-top: 17px;
        padding-bottom: 17px;
      }

      button + button {
        margin-top: 20px;
      }
    }
  }

  .successContainer {
    margin: 100px 0 253px;
    .successTitle {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      &.successTitle1 {
        color: #e53c2b;
      }
      &.successTitle2 {
        color: #000000;
      }
    }

    button {
      width: 100%;
      max-width: 300px;
      margin: auto;
      display: block;
      margin-top: 78px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
}
