.rangePicker {
  color: #e53c2b;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background: #ffffff;
  border: 2px solid #353435;
  box-sizing: border-box;
  border-radius: 26px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: 22px;
  padding-left: 10px;

  .dayPickerIcon {
    cursor: pointer;
  }
  > div {
    flex: 1;
    text-align: center;
    .DayPickerInput {
      > input {
        border: none;
        width: 90px;

        color: #e53c2b;
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;

        background-color: transparent;

        &:focus {
          border: none;
          outline: none;
        }

        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #353435;
          opacity: 1; /* Firefox */
        }
      }
    }
  }
}

.DayPickerInput-Overlay {
  background: #ffffff;
  border: 2px solid #353435;
  box-sizing: border-box;
  border-radius: 15px;
  width: 404px;
  // height: 404px;

  .DayPicker-NavButton--prev {
    left: 38px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #dcdcdc;
    border-radius: 5px;

    margin-top: 0px;
    margin-right: 0px;
    &::after {
      content: "<";
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      text-align: center;

      color: #e53c2b;
      margin-bottom: 5px;
    }
  }
  .DayPicker-NavButton--next {
    right: 38px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #dcdcdc;
    border-radius: 5px;

    margin-top: 0px;
    &::after {
      content: ">";
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      text-align: center;

      color: #e53c2b;
      margin-bottom: 5px;
    }
  }
  .DayPicker-Month {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .DayPicker-Caption {
      background-color: #f2f2f2;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 83px;
      width: 400px;
      margin-bottom: 0px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      > div {
        text-align: center;
        margin-top: 16px;
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 210%;

        color: #e53c2b;
      }
    }
    .DayPicker-Weekdays {
      width: 336px;
      margin-top: 0px;
      .DayPicker-WeekdaysRow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        .DayPicker-Weekday {
          padding: 0;
          color: #000000;
          margin-bottom: 11px;
          margin-top: 14px;

          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          text-align: center;

          &:first-child,
          &:last-child {
            > abbr {
              color: #e53c2b;
            }
          }
        }
      }
    }
    .DayPicker-Body {
      width: 336px;

      .DayPicker-Week {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 12px;
        .DayPicker-Day {
          width: 36px;
          height: 36px;
          border: 1px solid #dcdcdc;
          box-sizing: border-box;
          border-radius: 5px;
          font-family: Oswald;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #e53c2b;

          align-self: center;
          justify-self: center;

          padding: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          &.DayPicker-Day--outside {
            color: #dcdcdc;
          }

          &.DayPicker-Day--selected {
            color: #e53c2b;
            background: rgba(229, 60, 43, 0.2);
            border: 1px solid #e53c2b;
          }
          &.DayPicker-Day--start {
            background: #e53c2b;
            color: #ffffff;
          }
          &.DayPicker-Day--end {
            background: #e53c2b;
            color: #ffffff;
          }
        }
      }
    }
  }
}
