.contentContainer {
  width: 900px;
  margin: 0px auto;

  @include mobile-only {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .title {
    text-align: center;
    margin: calc-web-1440(78px) 0;
    @include mobile-only {
      margin: 40px 0;
    }
  }
  .create {
    font-size: 22px;
    margin-bottom: 20px;
    @include mobile-only {
      font-size: 15px;
    }
  }

  .emailNotice {
    margin-top: 10px;
    color: #999999;
    display: flex;
    font-size: 13px;
    svg {
      margin-right: 6px;
      min-width: 20px;
    }
  }
}

.customSubmit {
  margin: calc-web-1440(165px) 0 calc-web-1440(286px);
  @include mobile-only {
    margin: 50px 0 60px;
  }
}

.submit {
  width: 430px;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;

  @include mobile-only {
    width: 100%;
  }

  color: #353435;
  > button {
    margin-top: 12px;
    width: 100%;
  }
}

.noticeContainer {
  margin: -24px;
  padding: 60px 30px 30px;
  @include not-mobile {
    padding: 100px 165px;
  }

  .noticeTitle {
    font-size: calc-web-1440(50px);
    line-height: calc-web-1440(70px);
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    @include mobile-only {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .desc {
    font-size: 18px;
    line-height: 30px;
    @include mobile-only {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .checkBtn {
    width: 430px;
    font-size: 15px;
    line-height: 22px;
    margin: 40px auto 0;


    @include mobile-only {
      width: 100%;
    }

    color: #353435;
    > button {
      margin-top: 12px;
      width: 100%;
    }
  }
}
