.focus {
    height: calc-web(820px);
    background-color: #e1e0e1;
    display: flex;
    flex-direction: column;

    @include mobile-only {
        min-height: 413px;
    }

    >h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 210%;
        /* or 50px */

        color: #353435;
        margin-top: calc-web(75px);
        margin-bottom: calc-web(41px);
        margin-left: calc-web(316px);
        @include fix-desktop-margin("margin-left");

        @include mobile-only {
            font-weight: 500;
            font-size: 17px;
            line-height: 105%;

            margin-top: 48px;
            margin-left: 20px;
            margin-bottom: 26px;
        }
    }
}

.scrollboxOuter {
    @include not-mobile {
        padding-bottom: calc-web(100px);
    }

    @include mobile-only {
        padding-bottom: 37px;
    }
}

.scrollboxInner {
    >div {
        margin-right: calc-web(58px);

        @include mobile-only {
            margin-right: 14px;
        }
    }

    >div:first-child {
        margin-left: calc-web(316px);
        @include fix-desktop-margin("margin-left");

        @include mobile-only {
            margin-left: 20px;
        }
    }
}

.sectionHeader {
    margin-top: calc-web-1440(78px);
    margin-bottom: calc-web-1440(58px);

    @include mobile-only {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    >h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 210%;
        /* or 50px */
        margin-top: 0px;
        margin-bottom: 0px;

        color: #353435;

        @include mobile-only {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 105%;
        }
    }
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc-web-1440(50px);
    grid-row-gap: calc-web-1440(75px);
    margin-bottom: calc-web-1440(100px);

    @include mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 0px;

        >div {
            margin-bottom: 44px;
        }

        margin-bottom: 0px;
    }

    @include pad-portrait {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row;
        // margin: 0 auto;
    }


}

.loadMoreGroup {}

.contentContainer {
    padding-bottom: 124px;

    @include mobile-only {
        padding-bottom: 40px;
    }
}