.categoryList {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 20px;
    background-color: #FAFAFA;
    @include mobile-only {
        overflow-x: auto;
        justify-content: flex-start;
    }
    button {
        padding: 9px 32px;
        font-size: 18px;
        color: #A7A7A7;
        border-color: #A7A7A7;
        @include mobile-only {
            width: 140px;
            min-width: 140px;
        }
    }
    a + a {
        margin-left: 20px;
    }
}

.focus {
    // height: calc-web(820px);
    background-color: #e1e0e1;
    display: flex;
    flex-direction: column;
    // padding-bottom: calc-web(129px);

    @include mobile-only {
        min-height: 413px;
    }

    >h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 210%;
        /* or 50px */

        color: #353435;
        margin-top: calc-web(60px);
        margin-bottom: calc-web(20px);
        margin-left: calc-web(316px);
        @include fix-desktop-margin("margin-left");

        @include mobile-only {
            font-weight: 500;
            font-size: 17px;
            line-height: 105%;

            margin-top: 48px;
            margin-left: 20px;
            margin-bottom: 26px;
        }
    }
}

.scrollboxOuter {
    @include not-mobile {
        padding-bottom: calc-web(100px);
    }

    @include mobile-only {
        padding-bottom: 37px;
    }
}

.scrollboxInner {
    >div {
        margin-right: calc-web(56px);

        @include mobile-only {
            margin-right: 14px;
        }
    }

    >div:first-child {
        margin-left: calc-web(316px);
        @include fix-desktop-margin("margin-left");

        @include mobile-only {
            margin-left: 20px;
        }
    }
}

.sectionHeader {
    margin-top: calc-web-1440(78px);
    margin-bottom: calc-web-1440(58px);

    @include mobile-only {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    >h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 210%;
        /* or 50px */
        margin-top: 0px;
        margin-bottom: 0px;

        color: #353435;

        @include mobile-only {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 105%;
        }
    }
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: calc-web-1440(41px);
    grid-row-gap: calc-web-1440(110px);
    margin-bottom: calc-web-1440(96px);

    @include mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 0px;

        >div {
            margin-bottom: 44px;
        }

        margin-bottom: 0px;
    }

    @include pad-portrait {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row;
        // margin: 0 auto;
    }

}

.loadMoreGroup {
    margin-bottom: 93px;

    @include mobile-only {
        margin-bottom: 40px;
    }
}

.paginate {
    padding: 32px 0px;
    background: #f2f2f2;
    border-radius: 10px;

    margin-bottom: 124px;
}

.join {
    margin-top: 93px;
    margin-bottom: 120px;

    @include mobile-only {
        margin-top: 40px;
        margin-bottom: 65px;
    }
}
