.searchInputContainer {
  position: relative;
  // padding-top: calc-web(66px);

  .searchInput {
    background: none;
    border: none;
    border-bottom: 2px solid #000000;
    width: 900px;
    outline: none;

    font-size: calc-web(50px);
    line-height: calc-web(72px);
    border-radius: 0px;

    @include mobile-only {
      font-size: 22px;
      line-height: 32px;
      width: calc(100vw - 40px);
    }
  }
  .seaechIcon {
    position: absolute;
    width: calc-web(40px);
    height: calc-web(37.95px);
    right: 0px;
    bottom: calc-web(20px);
    cursor: pointer;

    @include mobile-only {
      width: 40px;
      height: 37.95px;
    }
  }
}
.section1 {
  max-width: 900px;
  margin: 0px auto 150px;

  @include mobile-only {
    width: calc(100vw - 40px);
    margin: 0px auto;
    padding-bottom: 64px;
  }
}
.searchResultInfo {
  font-size: 15px;
  line-height: 30px;
  /* identical to box height, or 200% */

  color: #000000;

  margin-bottom: 57px;
  margin-top: 12px;
  > span {
    color: #e63c2b;
  }
}
.searchResultItem {
  cursor: pointer;
  margin-bottom: 50px;
  // width: 700px;
  @include mobile-only {
    margin-bottom: 40px;
  }
  > h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  > div {
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */

    color: #ababab;
  }

  .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    color: #000000;
  }

  .highlighter {
    color: #e63c2b;
    background: none;
    padding: 0px;
  }
}
.paginate {
  background: #f2f2f2;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isEmpty {
  margin: 270px auto;
  font-size: 50px;
  line-height: 72px;

  color: #000000;

  @include mobile-only {
    margin: 76px 0px 117px;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height */

    color: #000000;

    > strong {
      font-weight: bold;
      font-size: 35px;
      line-height: 105%;
      // display: block;
    }
  }

  &.zh {
    @include mobile-only {
      > strong {
        display: block;
      }
    }
  }
}
