.headerDesc {
  width: 35%;
  @include mobile-only {
    width: auto;
  }
}

.mainTitle {
  font-weight: bold;
  font-size: calc-web-1440(55px);
  margin-bottom: calc-web-1440(40px);
  @include mobile-only {
    font-size: 35px;
    margin-bottom: 40px;
  }
}

.subTitle {
  font-size: calc-web-1440(24px);
  line-height: calc-web-1440(33px);
  font-weight: bold;
  @include mobile-only {
    font-size: 17px;
    margin-bottom: 33px;
  }
}

.blockPc {
  position: relative;
  @include mobile-only {
    display: none;
  }
  img {
    width: 64.5%;
    position: absolute;
  }
  .card {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    padding: calc-web-1440(43px) calc-web-1440(55px);
    // position: absolute;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 47.6%;
    height: calc-web-1440(418px);
    display: flex;
    flex-direction: column;
    .tag {
      background-color: #e53c2b;
      color: white;
      width: 144px;
      text-align: center;
      padding: 5px;
      margin-bottom: calc-web-1440(20px);
      font-size: calc-web-1440(20px);
    }

    .cardTitle {
      font-size: calc-web-1440(30px);
      font-weight: bold;
    }

    .btn {
      margin-top: auto;
      button {
        width: 160px;
        font-size: calc-web-1440(18px);
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.blockMobile {
  display: none;
  @include mobile-only {
    display: block;
  }
}

.block1 {
  background-color: #f2f2f2;
  position: relative;
  padding: calc-web-1440(70px) 0 calc-web-1440(100px);
  img {
    bottom: calc-web-1440(209px);
    right: 0;
  }
}

.block2 {
  .content {
    position: relative;
    padding: calc-web-1440(94px) 0 calc-web-1440(94px);
    .title {
      color: white;
      text-align: center;
    }

    .blockPc {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include mobile-only {
        display: none;
      }

      img {
        left: 0;
      }
    }
  }
}

.block3 {
  background-color: #f2f2f2;
  padding: calc-web-1440(100px) 0;
  @include mobile-only {
    padding: 60px 0;
  }

  .title {
    color: #e53c2b;
  }
}
