.head {
  display: flex;
  min-height: 350px;

  @include mobile-only {
    display: block;
  }

  img {
    width: 50%;
    height: 100%;
    height: auto;
    object-fit: cover;
    
    @include mobile-only {
      width: 100%;
    }
  }

  .headContent {
    padding: calc-web-1440(55px) calc-web-1440(67px);
    position: relative;
    @include mobile-only {
      padding: 36px 20px;
    }
    .tag {
      background-color: #e53c2b;
      color: white;
      font-weight: bold;
      width: 174px;
      font-size: calc-web-1440(25px);
      text-align: center;
      padding: 5px;
      margin-bottom: calc-web-1440(25px);
      font-family: Oswald;
      @include mobile-only {
        margin-bottom: 0;
        font-size: 15px;
      }
    }

    .contentInfo {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    //   margin-bottom: 72px;

      @include mobile-only {
        margin-bottom: 56px;
      }

      > h3 {
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: 500;
        font-size: calc-web-1440(32px);
        line-height: calc-web-1440(46px);

        color: #000000;
        margin-bottom: calc-web-1440(25px);
        font-family: Oswald;

        @include mobile-only {
          font-size: 35px;
          line-height: initial;
        }
      }

      .subtitle {
        font-size: calc-web-1440(20px);
        line-height: calc-web-1440(33px);
        @include mobile-only {
          font-size: 16px;
          line-height: 30px;
        }
      }

      .contehtStatus {
        color: #e63c2b;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.social {
  height: 100px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;

  margin-top: 80px;
  margin-bottom: 80px;

  @include mobile-only {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  > svg {
    cursor: pointer;
  }

  a {
    margin: 0 8px;
  }
}

.mainTitle {
  font-weight: bold;
  font-size: calc-web-1440(55px);
  margin-bottom: calc-web-1440(40px);
  @include mobile-only {
    font-size: 35px;
    margin-bottom: 40px;
  }
}

.mainContainer {
  background-color: #f2f2f2;
  padding: calc-web-1440(100px) 0 calc-web-1440(134px);
  .title {
    color: #e53c2b;
  }
}

.cardFirst {
  background-image: url("/images/cardBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  border-radius: 10px;
  font-size: calc-web-1440(20px);
  line-height: calc-web-1440(33px);
  padding: calc-web-1440(38px) calc-web-1440(23px);
  @include mobile-only {
    padding: 28px 18px;
    font-size: 16px;
    line-height: 33px;
  }

  &.cardFirst1 {
    height: calc-web-1440(480px);
    @include mobile-only {
      height: 110vw;
    }
  }

  &.cardFirst2 {
    height: calc-web-1440(390px);
    @include mobile-only {
      height: 91vw;
    }
  }
}

.block3 {
  .content {
    position: relative;
    padding: calc-web-1440(161px) 0 calc-web-1440(129px);

    .title {
      color: white;
      text-align: center;
    }

  }
}
