%h3 {
  font-style: normal;
  font-weight: bold;
  font-size: calc-web-1440(50px);
  line-height: calc-web-1440(70px);
  @include mobile-only {
    font-size: 35px;
    line-height: 105%;
  }
}
%p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  white-space: pre-line;
  @include mobile-only {
    font-size: 16px;
    line-height: 30px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f2f2f2;

  @include mobile-only {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h3 {
    color: #353435;
    font-family: "Noto Sans TC";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;

    @include mobile-only {
      font-size: 35px;
      margin-bottom: 40px;
    }
  }

  h4 {
    color: #000;

    font-family: "Noto Sans TC";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include mobile-only {
      font-size: 20px;
    }
  }

  p {
    @extend %p;
    margin-bottom: 80px;

    @include mobile-only {
      margin-bottom: 60px;
    }
  }

  .content {
    width: calc-web-1440(1280px);
    margin-right: auto;
    margin-left: auto;

    @include mobile-only {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // row-gap: 40px;
    column-gap: 40px;
    margin-bottom: 80px;

    @include mobile-only {
      grid-template-columns: 1fr;
      row-gap: 0px;
      margin-bottom: 0;
    }

    > p {
      color: #353435;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px; /* 141.667% */

      @include mobile-only {
        font-size: 20px;
        line-height: 35px; /* 175% */
      }
    }

    > ul {
        list-style-type: disc;

        li {
            color: #353435;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px; /* 141.667% */
            @include mobile-only {
                font-size: 20px;
                line-height: 35px; /* 175% */
              }
        }
      }

  }
}

.bannerAction{
  color: #ffffff;
  border-color: #ffffff !important;
}

.table {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;

  @include mobile-only {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0px;
  }

  @include pad-portrait {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-row-gap: 0px;
  }

  .categoryItem {
    text-align: left;

    @include mobile-only {
      // margin-bottom: 60px;
    }

    @include pad-portrait {
      width: 45%;
    }

    > h4::before {
      content: "";
      width: 46px;
      height: 10px;
      background-color: #e53c2b;
      display: inline-block;
      margin-bottom: 4px;
      margin-right: 20px;
      @include mobile-only {
        margin-right: 10px;
        margin-bottom: 2.3px;
      }
    }

    > p {
      color: #353435;

      font-family: Oswald;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px; /* 188.889% */
    }

    > svg {
      // width: calc-web-1440(220px);
      // height: calc-web-1440(220px);
      margin-bottom: 20px;

      @include mobile-only {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
        // max-width: 235px;
        // max-height: 235px;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}

html:lang(en) .aboutContent {
    display: none;
}
