$hero-info-bottom-size: 74px;

.hero {
  height: 600px;
  width: 100vw;
  position: relative;

  @include mobile-only {
    height: auto;
  }

  .imgContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    @include mobile-only {
      position: relative;
      height: 284px;
    }
    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .heroInfoContainer{
    position: absolute;
    left: calc(50vw - calc-web-1440(640px));
    right: calc(50vw - calc-web-1440(640px));
    bottom: calc($hero-info-bottom-size * -1);

    @include mobile-only {
      position: relative;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  .heroInfo {
    background-color: #e53c2be5;
    padding-top: 58px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 75px;

    @include mobile-only {
      padding-top: 35px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0px;
    }

    .favoriteIcon {
      color: white;
      position: absolute;
      top: 58px;
      right: 60px;

      width: 30px;
      height: 41px;

      @include mobile-only {
        top: 35px;
        right: 20px;

        width: 20px;
        height: 27px;
      }
    }

    .titleEng {
      color: #fff;

      font-family: Oswald;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 105%; /* 42px */

      margin-bottom: 8px;
      @include mobile-only {
        font-size: 22px;
      }
    }
    .titleZh {
      color: #fff;

      font-family: "Noto Sans TC";
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 105%; /* 63px */

      margin-bottom: 14px;
      @include mobile-only {
        font-size: 30px;
      }
    }
    .titleInfo {
      color: #fff;

      font-family: Oswald;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.9px;

      @include mobile-only {
        font-size: 15px;
        letter-spacing: 0.75px;
      }
    }
  }


  .heroInfoBottom {
    background-color: #e53c2be5;
    padding-top: 12px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    @include mobile-only {
      padding-left: 20px;
      padding-right: 20px;
    }

    .tags {
      color: #fff;

      font-family: Oswald;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1px;
      @include mobile-only {
        font-size: 15px;
        letter-spacing: 0.75px;
      }
    }

    .status {
      padding-right: 35px;
      padding-left: 35px;
      height: 35px;
      border: 1px solid #fff;
      display: flex;
      align-items: center;

      color: #fff;

      text-align: center;
      font-family: "Noto Sans TC";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mobile-only {
        display: none;
      }
    }
  }
}


.container {
  margin: 0px auto;
  width: calc-web-1440(1280px);
  padding-top: $hero-info-bottom-size;
  @include mobile-only {
    padding-top: 0px;
  }
}

.title {
  color: #222;
  font-family: "Noto Sans TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */

  @include mobile-only {
    font-size: 15px;
    line-height: 22px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 330px 1fr;

  padding-left: 52px;
  padding-right: 78px;
  padding-bottom: 100px;
  column-gap: calc-web-1440(120px);

  @include mobile-only {
    display: block;
    grid-template-columns: 1fr;

    padding-left: 20px;
    padding-right: 20px;
  }

  .hr {
    background: #e1e0e1;
    height: 1px;
    margin-top: 13px;
    margin-bottom: 13px;

    grid-column-start: 1;
    grid-column-end: 3;
  }

  .infoLeft {
    margin-top: 51px;

    color: #333;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    @include mobile-only {
      font-size: 13px;
    }

    .infoTagGroup {
      display: flex;
      flex-direction: row;
      column-gap: 18px;
      row-gap: 10px;
      flex-wrap: wrap;
    }
    .infoTag {
      min-width: 150px;
      min-height: 35px;
      border: 1px solid #666;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      padding-left: 15px;
      padding-right: 15px;
    }

    // .infoTag + .infoTag {
    //   margin-left: 18px;
    // }

    .infoSection1 {
      margin-bottom: 41px;

      @include mobile-only {
        display: none;
      }

      > div {
        display: flex;
        gap: 16px;
        margin-bottom: 33px;
      }
    }
    .infoSection2 {
      margin-bottom: 29px;
      @include mobile-only {
        padding-left: 10px;
        padding-right: 10px;
      }
      .title {
        margin-bottom: 8px;
      }
    }
    .infoSection3 {
      .title {
        margin-bottom: 8px;
      }
      margin-bottom: 36px;

      @include mobile-only {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .infoSection4 {
      margin-bottom: 59px;

      .group {
        margin-bottom: 28px;
        @include mobile-only {
          margin-bottom: 0px;
          padding-left: 10px;
          padding-right: 10px;
        }
        span+span::before {
            content: "/";
            margin-left: 5px;
            margin-right: 5px;
        }
      }

      @include mobile-only {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-bottom: 0px;
      }
    }
    .infoSection5 {
      margin-bottom: 49px;
      @include mobile-only {
        margin-bottom: 39px;
      }
      .title {
        margin-bottom: 8px;

        @include mobile-only {
          line-height: 22px;
          padding-left: 10px;
        }
      }

      .memberGroup {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .infoSection6 {
      white-space: pre-line;
      a {
        text-decoration: underline;
      }
    }

    .contactCard {
      border-radius: 10px;
      background: #f2f2f2;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 26px;
      padding: 20px 20px;

      > img {
        width: 40px;
        height: 30px;
      }

      .name {
        color: #222;
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        .eng {
          color: #222;

          font-family: Oswald;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 140% */
        }
      }
      .email {
        color: #444;

        font-family: Oswald;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.locked{
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }

  .infoRight {
    margin-top: 97px;
    @include mobile-only {
      margin-top: 38px;
    }

    .info {
      color: #353435;
    //   text-align: justify;
      font-family: "Noto Sans TC";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
    //   word-break: break-all;

        overflow-wrap: break-word;
        word-break: break-word; 
    //   white-space: pre-line;
    //   line-break: anywhere;
    //   text-align: left;
    }

    .link {
      display: flex;
      flex-direction: row;
      align-items: center;
      > svg {
        margin-left: 11px;
        flex-shrink: 0;
      }
    }

    .updateTime {
      padding-top: 32px;
      padding-bottom: 32px;

      margin-bottom: 55px;
      margin-top: 55px;

      color: #989898;

      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;

      font-family: "Noto Sans TC";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
    }

    .section {
      margin-top: 55px;
      margin-bottom: 55px;
      @include mobile-only {
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .title {
        @include mobile-only {
          font-size: 22px;
          line-height: 210%; /* 46.2px */
          margin-bottom: 4px;
        }
      }
      a {
        text-decoration: underline;
        &:hover {
            color: #E53C2B;
            .info {
                color: #E53C2B;
            }
        }
      }
    }

    .video {
      margin-top: 21px;
      position: relative;
    //   width: 700px;
    //   height: 393px;
      width: 100%;
      padding-bottom: 56%;
      &>div {
        position: absolute;
      }
    }
  }
}

.recent {
  margin-top: 155px;
  margin-bottom: 143px;

  @include mobile-only {
    margin-top: 40px;
    margin-bottom: 76px;
  }
  .sectionContainer {
    margin: auto;
    width: calc-web-1440(1160px);
  }

  .title {
    margin-bottom: 42px;
    @include mobile-only {
      font-size: 22px;
      line-height: 210%; /* 46.2px */
      margin-bottom: 4px;
    }
  }
}

.download {
  display: flex;
  flex-direction: row;
  align-items: center;

  > svg {
    margin-left: 7px;
    min-width: 24px;
  }
}

.previewBtn {
  background-color: white !important;
  color: #e53c2b !important;
  &:hover {
    color: white !important;
  }
}
