.container {
  position: fixed;
  z-index: 1001;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: row;
  // overscroll-behavior: none;
  width: 470px;

  @include mobile-only {
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 29px;
    flex-direction: column;
    width: 100%;
  }

  .mobileTop {
    margin-bottom: 25px;
    text-align: right;
    a {
      text-decoration: underline;
      font-size: 15px;
      line-height: 22px;
    }
    svg {
      margin-right: 48px;
      transform: translateY(-2px);
    }
    > span {
      color: #e53c2b;
      margin-left: 34px;
      > a:hover {
        color: #e53c2b;
      }
    }
  }

  .searchMobile {
    margin-bottom: 40px;
  }

  > nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile-only {
      display: block;
      height: 100%;
    }

    > ul {
      width: 100%;
      height: 100vh;
      max-height: 1080px;
      display: flex;
      flex-direction: column;
      padding-top: calc-web(120px);
      padding-bottom: calc-web(120px);
      overflow-y: auto;

      @include mobile-only {
        height: auto;
        gap: 40px;
        padding: 0px 0 30px;
        height: 100%;
      }

      > li {
        font-style: normal;
        font-weight: bold;
        // font-size: calc-web(50px);
        font-size: 44px;
        line-height: 105%;
        cursor: pointer;
        color: #353435;
        list-style: none;
        display: flex;
        margin-bottom: 30px;

        @include mobile-only {
          font-size: 30px;
          margin-bottom: 0;
        }

        &::before {
          content: attr(data-num);
          font-family: Oswald;
          font-style: normal;
          font-weight: 500;
          font-size: 31px;
          line-height: 105%;
          /* identical to box height, or 33px */
          margin-top: 3px;

          color: #353435;

          @include mobile-only {
            font-size: 22px;
            margin-top: 0px;
          }
        }

        &.active,
        &.active::before {
          color: #e53c2b;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: calc-web(66px);
    right: calc-web(64px);
    cursor: pointer;

    @include mobile-only {
      top: 26px;
      right: 20px;
    }
  }
}
.contact {
  margin-top: calc-web(157px);
  margin-right: calc-web(205px);
  margin-left: auto;
  width: 361px;

  > a {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #353435;
    margin-top: 7px;
    &:hover {
      color: $main-color;
    }
  }
}

.socialIconGroup {
  @include mobile-only {
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: calc-web(134px);
  margin-right: calc-web(205px);

  .socialIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Oswald;
    font-size: 20px;
    line-height: 30px;
    color: #353435;

    &:first-child {
      margin-right: 50px;
    }
  }
}
