.button-bg {
  position: absolute;
  background-color: #e53c2b;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform-origin: center;
  z-index: -1;
  pointer-events: none;
}
.button {
  position: relative;
  overflow: hidden;
  z-index: 0;

  &:hover {
    color: #ffffff;
    border-color: #e53c2b;
  }

  &.light {
    color: #ffffff;
    border-color: #ffffff;
    &:hover {
      color: #ffffff;
      border-color: #e53c2b;
      // border-color: #ffffff;
    }
  }

  &.selected {
    color: #ffffff;
    background-color: #e53c2b;
    border-color: #e53c2b;
  }
}
