.videoContainer {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .videoCover {
        width: calc-web(1280px);
        height: calc-web(720px);
        background: #c4c4c4;
        border-radius: calc-web(20px);

        cursor: pointer;
        position: relative;
        overflow: hidden;
        transform: translateZ(0);

        @include mobile-only {
            width: calc(100vw - 40px);
            height: calc(calc(100vw - 40px) / 1.77);
            border-radius: 20px;
        }

        .bg {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;

            background-size: cover;
            background-position: center;
            transform: scale(1);
            transition: transform 0.25s ease;

            @include mobile-only {
                transform: scale(1);
            }

            @include pad-portrait {
                transform: scale(1);
            }
        }

        &:hover {
            .bg {
                transform: scale(1.1);
            }
        }
    }
}